[2013-10-09 21:51] ezequielm opened #1 "Prepare library for iOS 7"

[2013-10-30 03:47] ezequielm opened #2 "Add logout"

[2013-10-31 16:15] #2 closed, assigned to nobody

[2013-10-31 16:17] #1 closed, assigned to nobody

[2013-11-08 18:01] jfromaniello opened #3 "iOS 5S / 64 bits "file was built for archive which is not the arch being linked""
It doesn't work on "iOS 5S / 64 bits"

[code]

reproted by William George first

[2013-11-14 16:37] parkej60 opened #4 "Webkit Error"
**\* WebKit discarded an uncaught exception in the webView:decidePolicyForNavigationAction:request:frame:decisionListener: delegate: <NSInvalidArgumentException> **\* -length only defined for abstract class.  Define -[Auth0User length]!

[2013-11-14 16:38] parkej60 opened #5 "Adjust the color and title of the Navigation Bar"
How do you adjust the title and color of the navigation bar when presenting the iOS login widget?

[2013-11-14 16:40] parkej60 opened #6 "Alignment Issue"
There is an alignment issue when presenting the Auth0 login widget. The horizontal line  overlaps the word 'or'.

![screen shot 2013-11-14 at 10 38 44 am](https://f.cloud.github.com/assets/1440417/1542774/62a44090-4d4b-11e3-813a-fdb11e100404.png)

[2013-11-15 16:47] parkej60 opened #7 "Getting an error when trying to connect via Facebook"
![screen shot 2013-11-15 at 10 36 21 am](https://f.cloud.github.com/assets/1440417/1551527/9b3809b2-4e15-11e3-9534-15b7a41c228a.png)

[2013-11-25 18:52] woloski opened #8 "keyboard covers email and password fields"
it happens on emulator and real device

[2013-11-26 14:24] #8 closed, assigned to nobody

[2014-02-19 18:50] #7 closed, assigned to nobody

[2014-02-19 18:51] siacomuzzi opened #9 "Improve error handling"

[2014-02-19 21:47] siacomuzzi opened #10 "Functions should return a block (even if there is an error)"

[2014-02-28 17:37] #10 closed, assigned to nobody

[2014-02-28 17:37] #9 closed, assigned to nobody

[2014-03-26 19:14] martinrybak opened #11 "Tag version number so a podspec can be published"
Hi, can you please tag your repo with a version number so that a CocoaPods spec can be published. Thanks!

[2014-03-26 19:24] #11 closed, assigned to nobody

[2014-09-17 15:27] jfromaniello opened #20 "Integrate with the Linkedin native application instead of webview"

[2014-09-22 22:51] #6 closed, assigned to nobody

[2014-09-22 22:52] #5 closed, assigned to nobody

[2014-09-22 22:52] #4 closed, assigned to nobody

[2014-09-22 22:53] #3 closed, assigned to nobody

[2014-09-23 18:14] hzalaz opened #21 "Show UIWebView for non-native login"
When authenticating with an Identity Provider (e.g. Instagram) that doesn't support native login to use UIWebView. By default it will use Safari.

[2014-09-23 18:39] hzalaz opened #22 "Supply optional authentication parameters"
When authenticating with any strategy against Auth0 (username/password, facebook, linkedin, etc), there should be a way to supply parameters to be sent in the request. These parameters can be defined in the widget (`A0AuthenticationViewController`) or in each auth method of `A0APIClient`.

[2014-09-29 18:54] mgonto opened #27 "Add Account Linking"
We need to add account linking.

For that, the user will set the `access_token` as an `A0AuthParameter`.

It's implemented different in each case:
- In Username/Password ==> Send `access_token` as part of the `/oauth/ro` [call](https://docs.auth0.com/auth-api#!#post--oauth-ro).
- In Facebook / Twitter ==> Send `main_access_token` parameter with the `access_token` set in `A0AuthParameter`. [This ca

[2014-09-29 18:55] mgonto opened #28 "Create Documentation for IdPs APIs"
Document the API that would let the developer add a button called `Signin with Twitter` and would do that bypassing the Widget.

[2014-09-29 19:11] #21 closed, assigned to nobody

[2014-09-30 14:45] #22 closed, assigned to nobody

[2014-10-06 15:53] mgonto opened #32 "Implementent Enterprise Connections"
We need to implement Enterprise Connection. The following is the flow explained:

1) If the Auth0 account has **AD and Kerberos enabled and the user is inside the same network** (IP Range), we just show one button called Sign in With Windows Auth and send him to Safari
2) If the user has **NO DB connection enabled and AD**, you show a username + password fields and call `/ro` with the information

[2014-10-07 14:15] #27 closed, assigned to hzalaz

[2014-10-09 15:16] dannob opened #34 "Issue building Auth0.iOS"
Hi,

For some reason, I am having trouble building the examples.  There are issues with cocoapod
dependencies (Specifically, Facebook's dependency on Bolts-IOS).  I can clone and lint the Facebook SDK and Bolts individually without an issue.   Thanks for your help.

Dan
### pod lib lint output

[code]

[2014-10-15 15:45] #32 closed, assigned to hzalaz

[2014-10-16 14:48] hzalaz opened #36 "Option to ask twice for password on Signup"
Add a flag in `A0AuthenticationViewController` to ask the user to confirm the password on Sign Up.

[2014-10-16 22:22] mgonto opened #37 "Call callback on successful/failed Reset Password"
Right now, after password is reseted, callbacks aren't being called. We need to implement this.

Thanks!

[2014-10-21 21:04] iellis opened #38 "Delegation not functional / crashes"
The responseObject for delegationWithParameters contains the correct data, including the Credentials block, but it's parsed into an A0Token, which asserts on data related to login, not delegation.

[2014-10-22 17:19] #20 closed, assigned to nobody

[2014-10-22 19:05] #38 closed, assigned to nobody

[2014-10-23 13:46] iellis opened #41 "Suggestion: Add default parameters to fetchDelegationTokenWithParameters"
It seems that the default parameters that are added in fetchNewIdTokenWithIdToken are also required for fetchDelegationToken. This took some trial and error to figure out, so it would be handy if they were auto-added.

On that note, it would also be helpful to the possible parameters documented.

Thanks for the fast turnaround on the 1.1 update.

[2014-11-10 18:51] #41 closed, assigned to nobody

[2014-11-17 22:28] #34 closed, assigned to nobody

[2015-01-02 22:09] hzalaz opened #62 "Support for dynamic fwk"
http://blog.cocoapods.org/Pod-Authors-Guide-to-CocoaPods-Frameworks/

- [x] Fix errors with CocoaPods version `0.36.0.beta.1`
- [x] Check with stable release of 0.36
- [x] ~~Create example using Dynamic Framework.~~

[2015-01-02 22:10] hzalaz opened #63 "Better Swift support"
- [x] use [Nullability Annotations](http://nshipster.com/swift-1.2/)

[2015-01-02 22:10] hzalaz opened #64 "Option to use WKWebView"

[2015-01-02 22:51] hzalaz opened #65 "Carthage Support"
- [x] Build Framework
- [x] Upload to releases
- [x] Add info in README

[2015-01-08 21:08] hzalaz opened #68 "Logging improvements"
- [x] Dynamic Log Level
- [x] CocoaLumberjack 2.0

[2015-01-08 21:10] hzalaz opened #69 "Layout improvements"
- [ ] Migrate to Storyboards?
- [ ] Use Size Classes

[2015-01-30 15:19] hzalaz opened #72 "Select what connections to use in Lock"
Add a way to pick specific connections from your application info and filter the rest.
Something like:
[code]

[2015-02-18 13:16] hzalaz opened #73 "Primary button title color cannot be changed using A0Theme"

[2015-02-18 13:17] hzalaz opened #74 "New customisation keys for A0Theme"
- [x] Separate secondary button color with dismiss tint color.
- [x] Add field box background color.
- [x] Primary button custom background images
- [x] Secondary button custom background images
- [x] Title font size
- [x] Message font size

[2015-02-23 19:15] #72 closed

[2015-02-27 19:02] #73 closed

[2015-02-28 00:34] #74 closed

[2015-03-05 22:48] hzalaz opened #82 "Post a NSNotification for important Lock events"
Related to #37

- [x] Successful/Failed Login
- [x] Successful/Failed Signup
- [ ] Successful/Failed Change password
- [x] UIViewController Dismissed by the user

[2015-03-05 23:00] #68 closed

[2015-03-06 16:32] #82 closed

[2015-03-06 18:16] hzalaz commented on #37
Included in #82

[2015-03-06 18:16] #37 closed

[2015-03-10 19:19] hzalaz opened #85 "Sample with Custom UI"
Also overriding default scopes and connections.

[2015-03-19 19:46] hzalaz opened #91 "Native form for ADFS and WAAD connections"

[2015-03-23 18:52] saltracer commented on #91
:+1:

[2015-04-03 13:23] hzalaz opened #92 "Show error message returned from a rule"
When trying to authenticate a user and a Rule returns an error like:
[code]
Show the content of `error_description` to the user.

[2015-04-21 10:47] sandrinodimattia opened #94 "Support EU deployments"
Currently the logic uses cdn.auth0.com for all domains ending with auth0.com. But for domains ending with eu.auth0.com we should use cdn.eu.auth0.com:

https://github.com/auth0/Lock.iOS-OSX/blob/756edb04acd09612bdb7ddc0293bb21a9ff5cd68/Pod/Classes/Core/A0APIv1Router.m#L72

[2015-04-21 12:25] hzalaz commented on #94
@sandrinodimattia first time I heard there was a EU cdn :smile: . In the meanwhile adding an extra parameter `Auth0ConfigurationDomain` in the __Info.plist__ file will do the trick. The value must be `https://cdn.eu.auth0.com`

[2015-04-21 13:16] davidmaitland commented on #94
Thanks guys for raising this. As a new iOS developer I spent a good few hours trying to figure out why it wasn't working! I made the changes and it's working now!

[2015-04-21 15:58] hzalaz commented on #94
@davidmaitland enabling [logging](https://github.com/auth0/Lock.iOS-OSX/wiki/Logging) might help you tell what's going on and see full errors if you are not too keen on debugging objc/swift

[2015-04-22 19:06] #94 closed

[2015-04-22 22:20] #91 closed

[2015-04-23 15:51] #62 closed

[2015-04-23 15:52] hzalaz opened #97 "Update Facebook SDK"
Start using Facebook SDK 4.x for native integration.

[2015-04-23 23:40] davidmaitland opened #98 "Twitter authentication failing when multiple accounts exist"
Testing Auth0 currently and found if you have more than one account active in Twitter when you select the twitter option it just hangs and the loader spins.

After looking at the logs it should be asking the user which account to pick but it never does.

Is this a know issue or do I need to handle this scenario?

[code]

[2015-04-24 15:57] hzalaz commented on #98
@davidmaitland it's handled by Lock and it will show you a a `UIActionSheet` to pick the Twitter account.
I've tested this and its working as intended:
![ios simulator screen shot apr 24 2015 12 53 22 pm](https://cloud.githubusercontent.com/assets/895992/7322854/202ecefe-ea81-11e4-9f83-2df0d596247c.png)

* What version of Lock & iOS are you using?
* Is is a device or simulator?

[2015-05-01 19:37] hzalaz opened #99 "SignUp disclaimer view is not displayed"
In `A0SignUpViewController` the outlet `self.disclaimerView` is not properly bind in the .xib.

[2015-05-05 03:27] aldenks opened #101 "App store rejection because of opening Safari"
Hi Auth0,
Our app was rejected because it bounced users out to safari when logging in with the google+ auth0 login strategy.

I see `-[A0LockViewController useWebView]`, but we are using `-[A0IdentityProviderAuthenticator authenticateForStrategyName:..]` because we have custom UI for our login screen.

Is there a way to use auth0 with google+ that keeps users in our app?

Thanks
Alden

[2015-05-05 14:32] hzalaz commented on #101
@aldenks I heard about Apple rejecting apps because of G+ and Safari but I thought it was a rumour since FB does the same thing and nobody gets rejected for that, but clearly I was mistaken :disappointed: .
The `- useWebView` method internally makes the `A0IdentityProviderAuthenticator` to return false when asked if he can handle a specific auth strategy, and in that case we show a UIViewControlle

[2015-05-05 18:14] hzalaz commented on #101
Just released a new version of Lock that makes `A0WebViewController` public

[2015-05-07 20:17] #99 closed

[2015-05-08 18:53] hzalaz opened #102 "Add default headers with SDK version for API calls"
Check this [issue](https://github.com/auth0/ruby-auth0/pull/31) for reference.

Might need to override the iOS default header when using NSURLSession/NSURLConnection, the format is `AppName/Version (Device; iOS Version; Scale)`.
Also check how to do that for UIWebView.

[2015-05-08 18:55] hzalaz opened #103 "Allow API v2 endpoint to be configurable"
Avoid hardcoding API v2 endpoint, it should be the same as `Auth0Domain` or derived from tenant in the same way we do for Auth API.

[2015-05-08 18:55] benschwarz commented on #102
- [ ] [SDK Checklist](https://github.com/auth0/auth0-cse/blob/master/repo-checklists/SDK/checklist.md)

[2015-05-08 21:54] hzalaz opened #104 "A0AuthParameters does not implement NSCopying properly"
`A0AuthParameters` does not truly copy its content, its a shallow copy.

[2015-05-08 21:56] hzalaz opened #105 "Show alert if social integration is missing configuration"
When a social native integration requires extra steps and any of those are missing, we should show an alert to the user/dev. (Also el log could be helpful).

- [ ] Facebook
- [ ] Twitter
- [ ] Google+

[2015-05-08 21:59] hzalaz opened #106 "Use CocoaPods plugin to store api keys"
https://github.com/orta/cocoapods-keys

[2015-05-08 23:59] jygeer opened #108 "unlinkAccountWithUserId uses application client ID, but v1 /unlink API requires global_client_id"
We are attempting to use the unlinkAccountWithUserId function, but are getting failures.  A manual (javascript) post to https://xxxx.auth0.com/unlink works, but only with clientID set to the users global_client_id (and not self.clientId as implemented in iOS Lock API).  xf:  https://auth0.com/docs/link-accounts

[2015-05-09 17:02] #104 closed

[2015-05-11 20:32] hzalaz commented on #108
@jygeer a new version `1.11.3` was published in CocoaPods that solves part of the issue. You still need to create a new `A0APIClient` with your global client_id:

[code]

And then call unlink method with this new client instance.

[2015-05-12 14:24] hzalaz opened #111 "UITheme is using a iOS 8+ API"
Replace the inner method `-image` of `A0ImageTheme` with the following:

[code]

[2015-05-12 15:16] hzalaz opened #112 "Show error when social connection is not properly configured"
Show a specific error message telling the user to configure the connection for the following errors:
- [ ]  `couldn't fetch profile` error.
- [ ]  not enabled in server

[2015-05-13 13:49] hzalaz opened #113 "Move social integrations to an independent pod"
- [x] Facebook
- [x] Twitter
- [x] Google+

[2015-05-13 15:30] rolodato opened #114 "Support disableSignupAction and disableChangePassword"

[2015-05-13 22:19] jygeer commented on #108
Verified!

[2015-05-13 22:19] #108 closed

[2015-05-15 23:18] #111 closed

[2015-05-18 19:53] hzalaz commented on #113
Created [Lock-Facebook](https://github.com/auth0/Lock-Facebook.iOS) for FB integration

[2015-05-19 00:50] #113 closed

[2015-05-19 13:51] hzalaz commented on #97
Will be done in https://github.com/auth0/Lock-Facebook.iOS

[2015-05-19 13:51] #97 closed

[2015-05-19 19:50] hzalaz commented on #97
Version 2.0.0 of [Lock-Facebook](https://github.com/auth0/Lock-Facebook.iOS) use Facebook iOS SDK version 4.x

[2015-05-20 14:46] hzalaz opened #119 "Show errors returned from Rules"
When the error code of a authentication response is `unauthorized` display the description to the user.

[2015-05-20 15:00] hzalaz opened #120 "Specify DB connection for TouchID"
Add a property in `A0TouchIDLockViewController` to specify the DB connection to be used for TouchID authentication.

[2015-05-22 20:13] #114 closed

[2015-05-25 16:00] #102 closed

[2015-05-26 17:23] #120 closed

[2015-05-26 18:04] #103 closed

[2015-06-05 18:26] hzalaz opened #127 "Clean up warnings"
[code]

[2015-06-05 19:27] #127 closed

[2015-07-07 17:41] hzalaz opened #129 "Handle poor network connection"
- Allow to dismiss it (if `closable` is true)?
- Fail fast on no internet connection
- Message when network connection is poor?
- Smaller timeout?

[2015-07-08 21:49] #119 closed

[2015-07-13 15:30] crrobinson14 opened #134 "Unhelpful error messages"
The Web version (we use the AngularJS module) is fairly descriptive when there are errors, but the iOS framework seems to be very unhelpful. Almost all errors return simply "There was an error signing up". For example, this will be shown if the user does not enter a password that meets the minimum length requirement. Now the user does not know why this problem has happened or what to do (enter a l

[2015-07-13 15:41] hzalaz commented on #134
@crrobinson14 we haven't yet implemented password strength validation in the framework like Lock.js has.
Besides password strength validation, what kind of errors are not descriptive enough?

[2015-07-18 00:33] #101 closed

[2015-07-20 22:07] hzalaz opened #142 "When app supports landscape Lock is displayed landscape"
When Lock is displayed when the device is in landscape, it will display it in the same orientation instead of switching to portrait.

[2015-07-22 23:14] brandonecraig opened #143 "apiClient.signupWithEmail cannot be invoked with argument list"
I'm working on a custom sign up UI and I'm fairly new to Swift. Here is my code:

[code]

I'm getting an error of Cannot invoke 'signUpWithEmail' with an argument list of type (String, username:String, password:String, loginOnSuccess: Bool, parameters: A0AuthParameters, success: A0APIClientAuthenticationSuccess, failure: A0APIClientError". So what am I doing wrong?

[2015-07-22 23:33] hzalaz commented on #143
@brandonecraig should not be necessary to cast the closures and the issue seems to be that the types of the success one should not be optionals (just remove the `?`)

Also you don't need to declare the types of the parameters in the closure just

[code]

[2015-07-22 23:34] hzalaz commented on #143
Taking a closer look, they should be optionals but the API is not declaring them properly. Since you are setting `loginOnSuccess` to `true`, it won't matter but we'll fix that

[2015-07-22 23:35] hzalaz opened #144 "Fix signature for signup with email method"
[code]

should have success with the type `A0APIClientSignUpSuccess`

[2015-07-22 23:36] hzalaz commented on #142
Closed by #141

[2015-07-22 23:36] #142 closed

[2015-07-22 23:38] brandonecraig commented on #143
[code]

That's what I've got now but I'm still getting a argument list error.

[2015-07-22 23:48] hzalaz commented on #143
Missed something before, `NSLog(error)` won't work in Swift. The correct way to do that should be

[code]

[2015-07-22 23:53] brandonecraig commented on #143
That fixes it. Not the most helpful message there, Xcode.

Thanks!!

[2015-07-22 23:59] #143 closed

[2015-07-23 19:42] #85 closed

[2015-07-23 19:43] hzalaz commented on #64
It will use `WKWebView` by default in iOS 8+

[2015-07-23 19:43] #64 closed

[2015-07-23 19:59] #144 closed

[2015-07-23 19:59] #92 closed

[2015-07-23 20:00] hzalaz commented on #92
Already closed by #130

[2015-08-02 00:34] sbruens opened #148 "Username field does not inherit A0ThemeTextFieldTextColor"
Setting A0ThemeTextFieldTextColor works great, however since we enabled "Requires Username", the username field does not inherit the UIColor set for key A0ThemeTextFieldTextColor. It would be great if that field also inherited its color from A0ThemeTextFieldTextColor.

<img width="364" alt="screen shot 2015-08-02 at 1 28 24 am" src="https://cloud.githubusercontent.com/assets/3979945/9024135/d01f23

[2015-08-05 00:26] hzalaz opened #149 "Customize WKWebView based auth UI"
Added the following keys for `A0Theme`:

[code]

This will allow to change the UINavigationBar on top of the embedded UIWebView or WKWebView by changing it's barTintColor, tintColor and titleAttributes properties.

[2015-08-11 01:52] hzalaz opened #151 "Handle network timeout for A0WebKitViewController"
When `WKWebView` fails because the request timed out, show an error to the user

[2015-08-11 01:53] hzalaz opened #152 "Allow to change (and localize) "Cancel" button on WebView auth"

[2015-08-11 02:19] #149 closed

[2015-08-11 02:19] #151 closed

[2015-08-11 02:19] #152 closed

[2015-08-11 02:45] hzalaz commented on #148
@sbruens thanks for reporting this, will be fixed in the next release

[2015-08-11 03:05] #148 closed

[2015-08-13 17:21] christopherkeeley opened #158 "Linkedin Auth0 sign in page should implement Linkedin's SDK. The current Web implementation is suboptimal"
Issue: LinkedIn has a fairly new SDK and it would be great if this was used on the auth0 sign in for LinkedIn. SDK Info here: https://developer.linkedin.com/blog/posts/2015/mobile-sdk-ios

Not only would this move the UI away from the suboptimal Web implementation, it could also fix a bug that we have been dealing with. This bug happens for Linkedin Sign-in, but not Active Directory Sign in. The i

[2015-08-13 17:39] hzalaz commented on #158
This is in our pipeline but since the only way to get Linkedin SDK is by downloading it from their page (which is suboptimal for us) we are trying to figure out the best way to make this available for Carthage/CocoaPods.

About the broken links we noticed them and we're trying to fix them.

[2015-08-14 22:18] hzalaz opened #159 "Native integrations for arbitrary connection name"
Allow to register IdP for a explicit connection name

[2015-08-18 16:45] ntotten opened #160 "Update Microsoft Account logo and color"
The current logo in lock does not reflect Microsoft's current branding. Microsoft is unifying all logos on their side to be the Microsoft logo rather than the Windows flag. Additionally, they are using a consistent light blue color. We should do the same in lock. Also, any text should be "Microsoft" or "Microsoft Account" rather than "Live ID"

https://auth0.slack.com/archives/design/p143991610500

[2015-08-21 03:55] grasmeyer opened #162 "fetchNewIdTokenWithRefreshToken is missing a parameter"
The following parameter should be added after line 382 in A0APIClient.m:

A0ParameterAPIType: @"app"

See the following documentation:

https://auth0.com/docs/refresh-token

It's currently failing for every refresh request.

[2015-08-21 16:59] hzalaz commented on #162
Will change that in the next release. In the meantime you can add it using `Auth0Parameters` like this:

[code]

[2015-08-21 17:03] hzalaz commented on #162
Also that's probably because you have some add-on like `aws` that is not your default, but to avoid it in the future we'll update the lib.

[2015-08-21 17:24] grasmeyer commented on #162
Sounds good. I already implemented that workaround to get it working.

Also, I haven’t been able to find a way to set the name, given_name, or family_name from the Lock.iOS-OSX SDK. Do you know if this is possible?

I’m using the default "Username-Password-Authentication” method, and none of the social login options. The Lock.iOS-OSX SDK is currently setting the name to the user’s email address wh

[2015-08-24 20:32] MattChanda opened #163 "Safari View Controller?"
Any plans to use the iOS9 Safari View Controller instead of kicking the user out to Safari?  It will work well for enterprise authentication too.

[2015-08-26 00:33] jlaxson opened #164 "Mismatch for custom oauth2 strategies"
I have configured a custom oauth2 connection as described in https://auth0.com/docs/connections/social/oauth2.

Fixing the theme to show correctly in the provider list was easy-ish, however when trying to authenticate with this provider, Lock tries to use a connection name of "oauth2" (i.e. the strategy name) instead of the name of the custom connection.  The issue seems to be centered on A0Social

[2015-09-15 21:05] hzalaz commented on #163
@MattChanda we are planning to release support for embedded Safari VC once iOS 9 is released.

[2015-09-15 21:26] #162 closed

[2015-09-23 15:57] rolodato opened #170 "Implement password strength validation"
Example:

![image](https://cloud.githubusercontent.com/assets/829698/10050411/90660244-61f2-11e5-994d-7b3883c5fce8.png)

[2015-09-23 16:28] #159 closed

[2015-09-23 16:28] #164 closed

[2015-10-07 20:46] hzalaz opened #174 "Add kid parameter and iss claim"
* `kid` header parameter with the id of the key used to sign
* `iss` claim with a value that indicates the token was issued by Touch ID integration of Lock SDK

[2015-10-08 19:51] hzalaz commented on #28
Added [doc](https://auth0.com/docs/libraries/lock-ios/use-your-own-ui) for custom UI (and sample)

[2015-10-08 19:51] #28 closed

[2015-10-08 19:52] hzalaz commented on #63
Already fixed in previous releases

[2015-10-08 19:52] #63 closed

[2015-10-08 19:53] hzalaz commented on #69
Will be done for v2

[2015-10-08 19:53] #69 closed

[2015-10-08 19:54] hzalaz commented on #98
Closing this one, if the issue persist please reopen it or create a new issue

[2015-10-08 19:54] #98 closed

[2015-10-08 19:54] hzalaz commented on #105
This should be done inside native integration libs

[2015-10-08 19:54] #105 closed

[2015-10-08 19:55] #106 closed

[2015-10-12 18:44] chrisfuller opened #178 "Release Framework"
Hi, this is a request, not an issue.

Can you please release as a framework?

For example, the Auth0 projects SimpleKeychain and JWTDecode have frameworks on their releases pages. See here for reference:

https://github.com/auth0/SimpleKeychain/releases
https://github.com/auth0/JWTDecode.swift/releases

Can you please do the same for Lock?

Thanks!

[2015-10-12 18:47] chrisfuller commented on #178
And I understand that there might be some manual installation steps necessary when adding the framework to Xcode, but I would gladly do those manually when my Xcode project is not using Cocoapods.

[2015-10-13 13:50] hzalaz commented on #178
We are planning to be Carthage compatible like those projects.
A temporary workaround is to use https://github.com/CocoaPods/cocoapods-packager to package Lock as a framework.
You'll need to clone this repo and comment [this line](https://github.com/auth0/Lock.iOS-OSX/blob/master/Lock.podspec#L21) and run the following command

[code]

[2015-10-16 17:27] hzalaz opened #179 "Password strength validation alert does not display what is missing"
To reproduce just use `fair` strength and only meet the length requirement and you get:

![simulator screen shot oct 16 2015 2 25 17 pm](https://cloud.githubusercontent.com/assets/895992/10548536/e3b99876-7411-11e5-8068-7c1acab2f766.png)

[2015-10-16 18:35] #179 closed

[2015-10-21 15:09] #163 closed

[2015-10-26 19:22] chrisfuller commented on #178
Thanks @hzalaz! Sounds great.

And the temporary workaround worked perfectly!

FYI, I was able to simply use this command as those subspecs were the default:

`pod package Lock.podspec --embedded`

After compiling, I added the framework to my project.

Then also manually added the `Auth0.bundle` as well as the `UI` and `WebView` NIBs. (Just thought I'd mention the manual steps here for reference).

[2015-10-27 03:08] chrisfuller commented on #178
@hzalaz Actually when I archive, I get the following warnings:

![screen shot 2015-10-26 at 8 05 31 pm](https://cloud.githubusercontent.com/assets/1339996/10748415/24e0de96-7c1d-11e5-8e9b-6dc20985c3cc.png)

What can be done to avoid this warnings?

Thanks!

[2015-10-27 14:10] hzalaz commented on #178
@chrisfuller can you post here the contents of the `Headers` folder inside the fwk bundle? (maybe using `tree` command inside the bundle)

[2015-10-27 17:53] chrisfuller commented on #178
@hzalaz I can do that if we need to. But it's very strange. Those warnings are completely gone today. And I definitely have not changed anything in the project. Let's assume the warnings were erroneous and the result of an Xcode weirdness. I'll report back if they crop up again. Thanks!

[2015-10-28 05:20] mowens opened #185 "Unable to install Lock as CocoaPod Xcode 7.1 Swift"
Currently unable to install Lock as a CocoaPods in Xcode 7.1 in a Swift framework.

<img width="1787" alt="screen shot 2015-10-27 at 10 16 11 pm" src="https://cloud.githubusercontent.com/assets/4575216/10780229/7833dc0c-7cf8-11e5-9726-92a3f2ecd8be.png">

My dependency tree is as follows:

`TopLevel.framework` -> links against `LowLevel.framework` -> links against `Lock.framework`

When building th

[2015-10-28 14:03] hzalaz commented on #185
Try adding `AFNetworking` as a dependency of your Top level fwk or the fwk that fails to compile with that error.

If that doesn't work can you send a sample that can reproduce this issue to support@auth0.com?

[2015-10-28 15:32] mowens commented on #185
It appears to be very related to [this thread](https://github.com/CocoaPods/CocoaPods/issues/4420). Looks like the compiler in Xcode 7 is much more strict how modular frameworks are. A fix that works for Swift (but not other projects that are linking as static libraries still) is to change the imports to framework imports:
[code]
Another approach would be to not expose the AFNetworking headers in

[2015-10-28 16:04] mowens commented on #185
A *VERY* hacky workaround here for a project using CocaoPods with `!use_frameworks` enabled

[code]

[2015-10-28 19:16] rolodato opened #186 "Add warning when scope="openid profile" is used"

[2015-10-28 19:29] hzalaz commented on #186
Also try to catch the error when profile is _too big_

[2015-10-28 21:39] hzalaz opened #187 "Change embedded WebView title text attributes"
Take UINavigationBar title color (and font) using A0Theme

[2015-11-05 20:43] hzalaz commented on #178
@chrisfuller I am closing this since now in master there is a single xcodeproj that can build a framework without CP. For fetching Lock dependencies we are using Carthage because we added support for it besides CocoaPods.
I believe `pod package` should still work since the CP pod is almost the same.

Also I'll upload the binary to GH releases, the only difference with the one you make with CP is t

[2015-11-05 20:43] #178 closed

[2015-11-05 20:44] hzalaz commented on #185
Removed class in release 1.20.0 since it was no longer used

[2015-11-05 20:44] #185 closed

[2015-11-16 18:52] x-warrior opened #191 "Success block called before dismissing web view."
On `fetchUserProfileWithIdToken:token` the success block is called before dismissing the web view, if our success block needs to present some view controller it will not be able to present it, because the web view is on top of the view hierarchy causing an error.

We tried to execute `[self dismiss]` before calling the success block and it worked. Is there any reason to call the success block befo

[2015-11-16 18:59] hzalaz commented on #191
No reason at all, I have a similar issue with some type of errors that will show an alert so they are probably related. I am thinking of using `dispatch_async` in the main queue to enforce it and avoid switching them in code by accident in the future

[2015-11-19 14:51] #65 closed

[2015-11-19 14:52] hzalaz opened #192 "Alert without action when client id is invalid"
Using `YOUR_CLIENT_ID` and `YOUR_DOMAIN`, which are invalid we are displaying an alert but wihtout a way to dismiss it

![simulator screen shot nov 19 2015 11 50 30 am](https://cloud.githubusercontent.com/assets/895992/11273787/0023b386-8eb4-11e5-85b7-feec70706f98.png)

[2015-11-20 18:19] cancan101 opened #193 "Example of Using Lock for Username / Password Login"
Example of logging in with username and password. This will include specifying which `connection` to use.

[2015-11-20 18:20] cancan101 opened #194 "Example of Specifying Scope"
Currently none of the example indicate how to request a given `scope` when logging in.

[2015-11-26 14:31] hzalaz commented on #193
Check https://auth0.com/docs/libraries/lock-ios, if you can't find that please submit an issue there.

[2015-11-26 14:31] #193 closed

[2015-11-26 14:31] hzalaz commented on #194
Check https://auth0.com/docs/libraries/lock-ios, if you can't find that please submit an issue there.

[2015-11-26 14:31] #194 closed

[2015-11-26 14:32] #160 closed

[2015-11-26 14:35] hzalaz commented on #134
The message when the password strength validation fails was fixed and on-the-fly validation will be implemented in the future per #170.

[2015-11-26 14:35] #134 closed

[2015-11-26 14:38] hzalaz opened #195 "Support customizing "user is blocked" message"
The response is
[code]

[2015-12-04 18:48] #191 closed

[2015-12-04 19:18] rolodato opened #199 "Send login_hint parameter for all email/username requests"

[2015-12-04 19:20] sitefinitysteve commented on #199
+1

[2015-12-04 20:04] #192 closed

[2015-12-05 00:15] #199 closed

[2015-12-10 01:55] hzalaz opened #201 "Add `au` region for CDN"

[2015-12-16 04:40] RebekahJWhite opened #204 "A0Theme.h Failing Podspec Validation"
I have been rearranging some of my code into a private cocoapod and even though the project compiles just fine locally, when I try to push the pod repo it fails validation with this error:

 - ERROR | xcodebuild:  Lock/Lock/CoreUI/A0Theme.h:24:9: error: include of non-modular header inside framework module 'Lock.A0Theme'

Apparently the Lock framework #import statement is a problem.
![screen shot

[2015-12-16 19:35] hzalaz opened #205 "Improve i18n"
Have default translation for some languages (not all but bundled in the bundle) and let the user either change some of them or add new languages.

Use proper keys instead of textual changes

[2015-12-16 19:56] sitefinitysteve opened #206 "Update Google Ent Auth Login screen logic"
Assumptions:
- Only provider enabled is a google apps domain, no database login or anything else...

What happens now:
- User gets username AND password box

What should happen:
- User just gets username box, or ideally button to click which sends to the google login

Why?
- User cannot log in with a login outside of a domain login, password box will never be even used.
- If the user types in a do

[2015-12-17 12:38] hzalaz commented on #204
Actually I think your Pod seems to be failing the validation, I've validated it locally (alone without wrapping it in any lib and works).

In any of your custom pod public headers are you importing A0Theme? It will be useful to have at least a sample so I can check

[2015-12-18 08:54] RebekahJWhite commented on #204
You are right, it was an unrelated problem in my pod. Sorry to have bothered you, the only errors/warnings that the validation gave me involved your pod.

Thank you for the help!

[2015-12-18 08:54] #204 closed

[2015-12-20 01:16] eugeniop opened #207 "Add an option to use Webview with ADFS connections"

[2015-12-23 15:33] #207 closed

[2015-12-24 12:52] keeth opened #209 "connection_scopes are ignored by A0WebViewAuthenticator"
I am trying to use connection scopes with Facebook, but I am finding they are ignored by A0WebViewAuthenticator - it seems that for other IDPs the params get the 'connection' property set (in registerAuthenticationProvider):

    params[A0ParameterConnection] = connectionName;

But this is not set for A0WebViewAuthenticator. Subsequently, when A0WebKitViewController.initWithAPIClient is called, [p

[2015-12-24 15:19] #201 closed

[2015-12-24 15:19] #195 closed

[2015-12-28 12:40] #209 closed

[2015-12-30 15:35] adrienbrault opened #212 "1Password extension support"
Hey, I cannot figure out how to use the 1password integration with the latest version of the project. Is it still supported ?

[2015-12-30 16:53] hzalaz commented on #212
@adrienbrault we removed it's support for the time being in order to rework the Lock to support Carthage (and clean up the code) since [onepassword-app-extension](https://github.com/AgileBits/onepassword-app-extension) does not fully support Carthage and the way we added it to Lock was a bit hack-ish.
I am planning to add 1Password integration again soon, I'll say by February we'll have it back.

[2016-01-05 08:07] damienpontifex opened #214 "OS X development"
On the page here https://auth0.com/docs/libraries/lock-ios you have OS X support as coming soon.

Just wondering if there is a current branch with OS X support implemented that we could begin to contribute to and test in development to help with moving it forward?

[2016-01-05 19:01] hzalaz commented on #214
@damienpontifex that was our plan but other priority stuff came out and since it has a low priority it's not in our pipeline ATM.

Currently the only OSX compatible is the Core subspec, so what's missing is to implement the UI using AppKit and try to reuse most of the logic implemented for iOS.

Also I am kinda reworking the library a bit to make it easier to use with Carthage and reuse it for cor

[2016-01-08 01:18] damienpontifex commented on #214
With wide changes, it may be difficult to concurrently implement features when being outside the organisation.

Will keep watching and see if I can jump in and add some features along the way

[2016-01-08 21:22] hzalaz commented on #214
Yeah, sorry for the current mess. I can ping you when I have something stable you can work wit @damienpontifex .

How would you expect to use Lock,  as a `NSViewController` or `NSWindowController`?

[2016-01-11 00:49] damienpontifex commented on #214
I would initially say `NSViewController`. It would seem this would give the developer the greatest flexibility in how it was presented. Modal, separate window, in current window etc.

Also not a mess at all. I love the way the project is separated and utilised the subspecs appropriately. Would seem that this would lead to easier use of components shared across iOS and OS X where appropriate.

[2016-01-11 23:05] aguerere opened #215 "LICENSE file needs an update and readme.md needs a fix"
License file on this repo is outdated, and the readme.md does not have a link on the author section.

[2016-01-12 14:21] #215 closed

[2016-01-12 18:02] hzalaz opened #217 "Show ATS error for WebView instead of blank screen"

[2016-01-13 06:12] yushuyao commented on #214
a follow up question on this topic (I have very limited OSX dev experience). In principle we should be able to have some kind of a "web browser" embedded into a view/window in the mac application and display the auth0 pages from there right?
Is there some example code around showing similar things?
(something similar for Windows OS will be helpful too!)
Thanks a lot!

[2016-01-13 08:36] damienpontifex commented on #214
If you drag out a web view from interface builder for OS X, it seems to be a `WebView` which is a subclass of `NSView`
Looking a bit further, it may seem (don't quote me) that the up to date web view version may be the `WKWebView` which shares it's interface with iOS.

Looking at the header for WKWebView has the class interface as

[code]

So I would've thought this would be the best route for sha

[2016-01-15 21:10] sitefinitysteve commented on #206
...just gonna ignore the problem?

Sample 1:
![image](https://cloud.githubusercontent.com/assets/1542376/12365354/394057da-bba2-11e5-8452-29acaab7b428.png)

Sample 2:
![image](https://cloud.githubusercontent.com/assets/1542376/12365334/270aac50-bba2-11e5-8e95-12a296b65383.png)

Why even ALLOW sample one, there should be no login box at all, it should just be the button to login with medportal.ca.

[2016-01-15 21:27] rolodato commented on #206
@sitefinitysteve Lock used in this way is mostly intended for the scenario where you have multiple IdPs, and you choose which to use depending on the user's email domain. If you only have one IdP then it doesn't make much sense to use Lock in the first place, you should just redirect your users directly to the IdP and have them log in.

[2016-01-15 21:31] sitefinitysteve commented on #206
We're using auth0 to remove any (and all) auth code from our end is the issue... we're subscribing to ease the pain, not add a bunch of custom OAuth code :)

[2016-01-15 21:49] hzalaz commented on #206
@sitefinitysteve what @rolodato is saying is to avoid Lock UI and use a custom UI that will launch the IdP form like

[code]

Since your use case is simple enough, it's probably better this way and it's not a lot of code.

[2016-01-15 22:53] sitefinitysteve commented on #206
Oh! Apologies for the misunderstanding! Yes that seems great i think... I still think the logic in this issue is gimpy, but this should suffice, thanks!

[2016-01-15 22:53] #206 closed

[2016-01-18 19:32] ghost opened #218 "Change the title of the access button as well as the Login title using A0Theme"
Is there a way to currently change the title of the access button as well as the Login title using A0Theme ? If not will you support that in the near future ?

Thank you

[2016-01-18 21:08] sitefinitysteve commented on #206
Works brilliantly thanks guys

[2016-01-20 10:21] shauns opened #219 "Application info not fetched when using TouchID"
When using TouchID login/signup, the application info is not fetched (through calling `fetchAppInfoWithSuccess`). This is unlike normal login/signup which does fetch it (in `A0LockViewController.m` /  `A0LockSignUpViewController.m`.

This means the sign-up flow for TouchID fails when it attempts to call `signUpWithUsername`, as this depends on `application` being set on the API client object.

I'm

[2016-01-20 12:31] hzalaz commented on #219
By default it's using a connection named `Username-Password-Authentication` which is the default connection you get when creating your Auth0 account. If you wish to use a different connection just specify so in the property `authenticationParameters` of `A0TouchIDLockViewController` like

[code]

The only restriction is that the connection **MUST** be a DB connection

[2016-01-20 13:40] shauns commented on #219
Thanks for getting back to me -- that was the name of my DB connection. I'm using this via React and it turns out the magic incantation is below.

I think the bug is that if you don't manually specify the `authParams.connection` value, this library falls back to trying to pull it from application and as mentioned above that is unset.

[code]

[2016-01-20 14:02] hzalaz commented on #219
It's not trying to pull the info at all since it only does for non-passwordless connections. Also it should honor the default if you don't specify one. Probably something wrong in RN bridge

[2016-01-20 14:18] shauns commented on #219
Okay -- will add a PR to that project to fix it at that end. Thanks for your help!

[2016-01-20 14:18] #219 closed

[2016-01-20 14:28] hzalaz opened #220 "For TouchID use default connection name if none is specified"
If the user overrides the authentication parameters in `A0TouchIDLockViewController` without a connection name, any signup or login will fail.

[2016-01-20 14:30] hzalaz commented on #219
@shauns double checked and it's an issue in this lib. Just submitted and issue for tracking it https://github.com/auth0/Lock.iOS-OSX/issues/220

[2016-02-03 13:00] hzalaz opened #222 "Avoid cleaning reference to callbacks before calling them in A0WebKitViewController"
If an error occurs the controller is dismissed and callback called when the animation is completed but the callback reference in `self` can be gone by then.

[2016-02-10 22:33] bradfol opened #224 "Make Error handling helper methods public"
The [`A0APIError` category on `NSError`](https://github.com/auth0/Lock.iOS-OSX/blob/master/Lock/Core/Private/NSError+A0APIError.h) contains some very useful methods for dealing with the errors returned by API calls. Would it be possible to make these methods part of the public headers?

[2016-02-11 05:17] mpretty-homepass opened #225 "Include of non-modular header inside framework module 'Lock.Lock'"
I'm trying to use Lock for authentication inside our SDK, the setup we have is the following:

Lock >> AuthWrapperPod >> SDKPod >> App

But when I build I keep getting the **Include of non-modular header inside framework module 'Lock.Lock'** error .

<img width="1135" alt="screen shot 2016-02-11 at 4 06 17 pm" src="https://cloud.githubusercontent.com/assets/15862619/12969813/1cbac3b4-d0da-11e5-987

[2016-02-11 07:33] mpretty-homepass commented on #225
Adding the following to my podspec for the time being allows me to continue to work, but it's not ideal:

[code]

[2016-02-11 23:26] hzalaz commented on #225
@mpretty-homepass never tried that before, can you provide a sample project or at least a sample podspec?

[2016-02-11 23:29] hzalaz commented on #224
@bradfol I wanted to improve a little how errors are returned but I can try to make some of its method public. What methods would you like to have? (I think you are interested mostly in the getters right?)

[2016-02-12 22:45] bradfol commented on #224
@hzalaz Yeah, it would be great to have the getters be part of the public headers.
[code]

I would also encourage any improvements to the error handling :smiley:. It would be really cool to switch over the [`A0ErrorCode` enum](https://github.com/auth0/Lock.iOS-OSX/blob/master/Lock/Core/A0ErrorCode.h#L26) cases.

[2016-02-22 17:08] gasthana0 opened #226 "Not passing correct error code and domain"
Hi,

I am using passwordless authentication (using SMS api of twilio) api, its working fine but
in case of error it is not returning correct error code and domain. Library should
handle the error from twilio and propagate the correct code and domain.

e.g.:
In case of incorrect phone number input I was expecting domain to be "com.auth0...."
and Code as 400, however I am getting domain as "com.alam

[2016-02-23 16:48] hzalaz opened #227 "Clear cookies for UIWebView and WKWebView"
When `-clearSessions` is called we should remove the web views cookies

[2016-02-25 20:26] joshbeal commented on #214
@damienpontifex Any update on this? If there's something usable in beta, I'd be happy to check it out.

[2016-02-25 20:26] joshbeal commented on #214
@hzalaz Any update on this? If there's something usable in beta, I'd be happy to check it out.

[2016-02-26 16:24] hzalaz commented on #227
Probably by killing all the cookies like:

[code]

[2016-02-29 13:40] ppaulojr opened #228 "Use of deprecated -application:openURL:sourceApplication:annotation:"
The README.md recommends the use of this delegate method on `AppDelegate`

[code]

This method has been deprecated since iOS9.

[2016-03-03 21:53] #227 closed

[2016-03-10 22:52] gasthana0 commented on #226
Any update on this.

[2016-03-11 13:14] hzalaz commented on #226
No ATM, I see what the issue is (non-JSON response). Will try to see if I can come up with some fix next week

[2016-03-11 13:15] hzalaz commented on #228
@ppaulojr yes, but if you are supporting iOS 8 you'll need to use it too. I'll probably add both in the README

[2016-03-14 04:45] nico75005 opened #233 "signUpWithEmail method doesn't work properly"
I'm using you sdk to login and sign up my users.

I'm developing with Swift.
When I want to create a new user, I do the following:

[code]

EVERY time I end up with a `failure`. But the account is actually created.

If I use `loginOnSuccess: false`, I get a `success` but end up having both `profile` & `token` nil (which is what is normal as the documentation stated it).

So what's my solution if I

[2016-03-14 13:16] hzalaz commented on #233
@nico75005 what is the error you are getting? in Auth0 dashboard, inside the Logs section, do you see why your login attempt failed?. Do you have a Rule defined that could make your login fail?

[2016-03-14 20:02] nico75005 commented on #233
@hzalaz here is the error when I set `loginOnSuccess` to `true`:
[code]

In the logs on Auth0, I got:

A `Failed Sending Notification`
then a `Failed Login (invalid email/username)``
then `Failed Login` with in description: `Wrong email or password.`

[2016-03-14 21:02] hzalaz commented on #233
@nico75005 tried to reproduce it but it works. Can you send an email to support@auth0.com with your domain & clientId (if you have a sample to reproduce please send it too).

[2016-03-14 21:03] hzalaz commented on #233
@nico75005 if you can't include the sample, please tell us what lock version are you using

[2016-03-14 21:12] nico75005 commented on #233
@hzalaz sent you an email. Thanks

[2016-03-14 23:44] artisanglobal opened #234 "Any plans to upgrade AFNetworking to 3.0?"
Do you have any plans to upgrade Lock's AFNetworking dependency to 3.0? Lock is currently dependent on 2.5. We would like to use 3.0 in our project but we can't because of the conflict. There are possible workarounds but they are painful. Before we embark on a workaround we would like to know your plans for this. Thank you.

[2016-03-14 23:46] hzalaz commented on #234
@artisanglobal if everything goes according to schedule, we'll release a new version this week with that change. In master it's already using 3.x.

[2016-03-14 23:47] artisanglobal commented on #234
Awesome, thanks for the quick response. Cheers!

[2016-03-15 20:56] #222 closed

[2016-03-15 22:15] #220 closed

[2016-03-16 02:56] nico75005 commented on #233
For those in my case, I used `client.signUpWithEmail` without the `name` parameter and it worked.

[2016-03-16 02:56] #233 closed

[2016-03-16 03:04] nico75005 opened #238 "How to get the latest commits using CocoaPods?"
I just saw you commited a new feature regarding the password changes.
I would like to update my pod to get the latest version with this [commit](https://github.com/auth0/Lock.iOS-OSX/commit/4d1d7b8052e1c13ba42bd23f39dd25fed45526cb) but so far I still get the version 1.22 without those commits.

My pod file regarding Lock:
pod "Lock", "~> 1.22"

Whether I do a `pod install` or `pod update`, I still

[2016-03-16 03:15] nico75005 commented on #238
Found it. For those in the same case, replace `pod "Lock", "~> 1.22"` in your podfile by `pod "Lock", :git => "https://github.com/auth0/Lock.iOS-OSX"`

[2016-03-16 03:15] #238 closed

[2016-03-23 12:43] hzalaz commented on #234
@artisanglobal version `1.23.1` now uses AF 3.0

[2016-03-28 12:22] #234 closed

[2016-03-28 18:24] caoer opened #242 "magic link not working?"
For following method, magic link is not working, it always send email code instead of magic link.
[code]

after I changed the 'send' param to 'link', it sends magic link correctly. Is it because iOS sdk is not up to date? is it safe to change it to 'link' ?

[code]

[2016-03-29 11:30] caoer commented on #242
found the issue. the `apple-app-site-association` file wasn't setup correctly.
link_ios param is correct. It is just the same thing with login via code.

[2016-03-29 11:30] #242 closed

[2016-03-29 23:10] #187 closed

[2016-03-29 23:19] #174 closed

[2016-03-30 00:47] superboonie commented on #242
The issue should be reopened.  Email is indeed different types of link depending on whether link or link_ios is used.

[2016-03-30 18:00] hzalaz opened #246 "Properly initialise A0LockSignupViewController"

[2016-03-30 18:09] hzalaz commented on #242
@superboonie that's why the value is different since the `link_[ios|android]` is handled by the app itself without the browser using either Universal Links (iOS) or App Links (Android).

[2016-03-31 14:14] adrienbrault commented on #212
@hzalaz Hey, any update on this ?

[2016-03-31 14:25] hzalaz commented on #212
@adrienbrault got sidetracked with other stuff, I'll start working on this next week.

[2016-03-31 17:03] #246 closed

[2016-04-05 22:19] mdhornet90 opened #248 "Top Level Domains on email address failing validation"
I've been creating garbage test accounts during the course of my development on a project, and I came across this issue. Any top level domain longer than 4 characters (presumably to accomodate .arpa) fails validation, including known ICANN-era generic top level domains (for example, address@domain.apartments).

I'm able to circumvent this issue on iOS by setting the usesEmail property on the A0Loc

[2016-04-06 08:47] wkoszek opened #249 "All auth0 projects should be backed by Tracis CI"
I've spotted typos in examples and I'm basically reading through the source code of your sample apps. A lot of them aren't updated, and I'm trying to understand if they still work fine.

To give me some more confidence into the product, all of them should be wired with Travis CI, so that I can see that Cocoapods package/source code at least compile fine.

I see CI is used for top-level project, bu

[2016-04-09 22:01] wkoszek opened #251 "E-mail field in the login widget should show correct keyboard type"
I'm using iOS CocoaPods for getting Lock widget up and started when my app starts.

The issue I see is that when the user types an e-mail address into the e-mail field, the keyboard type doesn't change. You don't get "@" character on the keyboard by default, for example.

I believe this would happen if you set the HTML input form types properly.

[2016-04-09 23:19] hzalaz commented on #251
@wkoszek not sure what you mean since the keyboard type is properly set for the UITextField if an email is expected

![simulator screen shot apr 9 2016 8 16 58 pm](https://cloud.githubusercontent.com/assets/895992/14407011/20041c3a-fe90-11e5-86ca-8d143038981b.png)

Also Lock for iOS is 100% native so there are no HTML involved besides when a social/enterprise authentication is needed (e.g. linkedi

[2016-04-10 08:38] wkoszek opened #253 "Auth0 doesn't build correctly with CocoaPods 1.0.0beta6"
I can't build Auth0 correctly with CocoaPods 1.0.0beta6. Ruby 2.3.0 installed via RVM + `gem install cocoapods --pre` on OSX El Captain 10.11.4. I use `fastlane` suite with `gym` used for building, but the issue is reproducible with `xcodebuild` too. Report:

https://gist.github.com/wkoszek/160095e9c6597fea2cc0e89f709c706e

I use this app/Podfile in case you want to reproduce.

https://github.com/

[2016-04-10 15:07] hzalaz commented on #253
@wkoszek sadly it's a Cocoapods [issue](https://github.com/CocoaPods/CocoaPods/issues/5034).

[2016-04-10 17:25] wkoszek commented on #251
I can't reproduce your result. For me it looks like this:

![image](https://cloud.githubusercontent.com/assets/483344/14407438/f0711372-fe7d-11e5-86de-19cc31474b3e.png)

Same in the simulator:

![image](https://cloud.githubusercontent.com/assets/483344/14407466/ac6f078c-fe7e-11e5-80a1-43fe09478042.png)

My pods:
https://github.com/wkoszek/sensorama-ios/blob/master/Sensorama/Podfile

App is open so

[2016-04-10 17:26] wkoszek commented on #253
@hzalaz Ok. Let's close this issue in here then. I'll track it via CocoaPods repo.

[2016-04-10 17:26] #253 closed

[2016-04-10 17:44] hzalaz commented on #251
@wkoszek try using the latest version by running pod update

[2016-04-10 19:10] wkoszek commented on #251
@hzalaz I moved from `1.22.0` to `1.24.1` and it helped, but it messed up the way my screen looks:

![image](https://cloud.githubusercontent.com/assets/483344/14412203/0f0d13a0-ff12-11e5-823c-92a35101d04a.png)

Either I'm using too big graphic, or something else is wrong (autolayout?) Anyway, I think you docs need updating:

https://auth0.com/docs/quickstart/native-mobile/ios-objc/aws

I've made a

[2016-04-11 14:40] moesalih opened #255 "Account Linking with A0IdentityProviderAuthenticator"
I currently use A0IdentityProviderAuthenticator.authenticateWithConnectionName(...) to login with a social account and everything works fine.

I'm trying to support account linking with social accounts but can't get it to work. I looked into the implementation details of #31 and it looks like I'm supposed to pass the access token of the main identity when authenticating the new identity to allow A

[2016-04-11 15:51] hzalaz commented on #255
@moesalih can you post the code you are using?

[2016-04-11 16:56] moesalih commented on #255
Sure. All I do is get the access token from the primary A0UserIdentity, and pass that to the authentication function through A0AuthParameters.

[code]

[2016-04-12 19:35] bradfol opened #257 "Update `userMetadata`"
It is possible to read the `userMetadata` property from a fetched `A0UserProfile`, but there is no method to make a server request to update it.

Would it be possible to add this capability to the library?

[2016-04-20 17:51] moesalih commented on #255
@hzalaz Any update on this? Thanks.

[2016-04-21 16:21] hzalaz commented on #255
@moesalih sorry for the delay, we suggest using our api account linking instead of relying on sending the access token like you are doing. It's a little more code involved but it will allow you to handle better the possible errors you may find, e.g.: the account is already linked to another one. Here is a language agnostic guide on how linking accounts should be implemented https://auth0.com/docs/

[2016-04-22 13:16] hzalaz commented on #257
@bradfol try using https://github.com/auth0/Auth0.swift

[2016-04-22 13:17] hzalaz opened #258 "Force Lock's UIViewControllers in portrait mode"

[2016-04-25 11:32] deapamukchieva opened #259 "Login error"
I am trying to just login both in my app and using the seed project for "Lock iOS: Building your own UI". I am adding the domain and clientID to the plist but when i try to login I get the following:

Error Domain=com.alamofire.error.serialization.response Code=-1011 "Request failed: bad request (400)" UserInfo={A0JSONResponseSerializerErrorDataKey=<CFBasicHash 0x1265fb120 [0x1a10f9150]>{type = im

[2016-04-25 12:32] hzalaz commented on #259
@deapamukchieva that means the Auth0 connection you are trying to use is disable in your Auth0 dashboard for that specific client.

[2016-04-26 08:09] deapamukchieva commented on #259
@hzalaz What exactly should be enabled in the dashboard ?

[2016-04-26 13:02] hzalaz commented on #259
@deapamukchieva you need to have at least one database connection https://manage.auth0.com/#/connections/database created and enable it for the auth0 application you are trying to authenticate with user and password. You can find your Auth0 applications here https://manage.auth0.com/#/applications.

[2016-05-02 23:57] mdhornet90 opened #261 "Questions about detecting existing users during Sign Up"
I have a couple of questions around detecting existing users in the context of Sign Up. Our app's use cases include handling scenarios where existing users attempt to sign up again with credentials already mapped to Auth0.

1. Is there an easy way to identify existing users? I know that @"user_exists" is returned as a code, but the only way I seem to be able to access it is by going behind the bac

[2016-05-03 22:59] hzalaz commented on #249
Thanks for the suggestion, we are reworking our examples so we removed them from this repo. Eventually we'll back them with travis CI

[2016-05-03 22:59] #249 closed

[2016-05-03 23:04] #258 closed

[2016-05-04 15:52] #224 closed

[2016-05-04 15:52] #226 closed

[2016-05-04 15:53] hzalaz commented on #226
@gasthana0 I am making some categories on `NSError` to allow checking the `error` value of the API response.

[code]

I can't change domain and code to return different values to avoid breaking other people. Also we are trying to extract the API Client to a separate project [Auth0.swift](https://github.com/auth0/Auth0.swift/tree/development)

[2016-05-04 19:58] hzalaz commented on #261
Related to https://github.com/auth0/Lock-Facebook.iOS/issues/12

[2016-05-04 19:58] #261 closed

[2016-05-05 15:26] cevatkerim commented on #218
+1

[2016-05-11 11:16] Pomme2Poule opened #268 "Don't build since Cocoapods 1.0"
Hello, it seems that Lock can't build since I updated Cocoapods to the brand new version 1.0. Can it be related? The exact Xcode error is "Lock/A0ServiceTheme.h not found".

[2016-05-11 13:32] Pomme2Poule commented on #268
Actually, this solved my problem. It was the result of a conflict with my bridging-header.
http://stackoverflow.com/questions/29080026/how-to-reference-header-files-in-bridging-header-h-after-updating-cocoapods-to-0

[2016-05-11 13:32] #268 closed

[2016-05-11 16:43] wahooka9 opened #269 "App crashs when in landscape view (UIALERTS CRASHING)"
The uialertview  is hard coded to be in portrait mode.   if the app is in landscape / locked to landscape the app will crash if the user enters a incorrect password or if there is no connectivity (an alert informs the user they have no connection available).

[2016-05-11 16:48] hzalaz commented on #269
@wahooka9 Lock is designed to work on portrait, we have an issue that is fixed in master by this [PR](https://github.com/auth0/Lock.iOS-OSX/pull/263).

[2016-05-11 17:29] gasthana0 commented on #226
ok

[2016-05-11 19:26] hzalaz commented on #269
This should be fixed by #263 & #270 and available in the next release. Closing this, please reopen if the issue persists

[2016-05-11 19:26] #269 closed

[2016-05-11 22:31] dmorrow opened #271 "Xcode 7.3/iOS/Swift ld: framework not found CocoaLumberjack"
Cannot compile Lock on Xcode 7.3 for iOS with a swift project if there is also a OS X target in the podfile.

[2016-05-11 22:34] hzalaz commented on #271
@dmorrow I'll need a little more information to see what's wrong. Can you provide a sample to try this?

[2016-05-12 14:31] dmorrow commented on #271
@hzalaz I made a quick little sample project.
Part of the trouble may be Contentful, which we require, has not updated to AFNetworking 3.0 yet.  This is preventing us from using the latest Lock.

However, I can get it to compile just fine if I comment out the OS X target.

We are on Cocoapods 0.39.0 - I haven't updated there yet to test.

[https://github.com/dmorrow/LockSample](url)

[2016-05-12 15:12] hzalaz commented on #271
@dmorrow the sample is missing the xcodeproj and the `LockSample` directory is empty

[2016-05-12 15:24] dmorrow commented on #271
@hzalaz Sorry about that - should be fixed.  That's what I get trying to do git via XCode.

[2016-05-12 15:40] hzalaz commented on #271
@dmorrow works with CocoaPods 1.0.0, not sure what's wrong with 0.39 but maybe is a CP issue since I see nothing wrong with the Lock and we didn't get any more issues like this. I'd recommend to use the latest CP version

[2016-05-12 16:35] dmorrow commented on #271
CP 1.0.0 fixes for me.  Thanks

[2016-05-12 16:35] #271 closed

[2016-05-20 02:07] luugiathuy opened #275 "SMS Lock shows "Email" input text field instead of "Phone Number""
Hi, we are using Auth0 for sms login as below

[code]

However the Lock screen is showing Email text field instead of Phone Number as in the README. The keyboard is also not a number keyboard. Is there a way to change the text field as in the README?

Thank you,
Thuy

![locksms](https://cloud.githubusercontent.com/assets/656820/15415062/9042b360-1e72-11e6-96d3-9c1d05e8e13e.png)

[2016-05-27 02:15] cevatkerim opened #276 "Cordova Plugin"
I really like the lock for iOS look and feel. Do you have any plans to create a plugin for cordova apps? I made an attempt but it does get stuck when the view is dismissed.

`
@implementation lockPlugin

-(void)init:(CDVInvokedUrlCommand*)command {

    A0Lock *lock = [A0Lock sharedLock];

    A0LockViewController *controller = [lock newLockViewController];
    controller.onAuthenticationBlock = ^

[2016-05-27 14:20] intothefire commented on #212
Any update on this?

[2016-05-27 18:25] mdhornet90 opened #277 "Possible to Pass In "given_name" on Username/Password Sign Up?"
The app I'm building requires first and last name for the sign up flow to work properly. I noticed that when using Facebook and Google Sign-In this works out of the box (given_name and family_name fields are populated), but Auth0 doesn't appear to have a mechanism to store that when connecting with email/password sign up.

Is this a matter of populating arbitrary parameters on the client side and

[2016-06-02 12:05] Winnie90 opened #278 "Could not build Objective-C module 'Lock'"
Using Cocoapods version 1.0.1 got:
pod "Lock", "~> 1.26"
in my Podspec

Getting the following errors:
[
<img width="242" alt="screenshot 2016-06-02 21 56 13" src="https://cloud.githubusercontent.com/assets/1662692/15744148/a45f3418-290d-11e6-8cd9-fd1a08e6f5ba.png">
](url)

- Could not build Objective-C module 'Lock'
- Lock/A0ServiceTheme.h not found

When I add an Objective-C bridging header I get

[2016-06-03 01:04] Winnie90 commented on #278
seems to be a problem with v1.0.1 of cocoapods I dropped back to 0.39 and all is good

[2016-06-03 01:05] hzalaz commented on #278
@Winnie90 are you building it as a framework or as a static library?

[2016-06-03 01:13] Winnie90 commented on #278
As a framework

[Podfile.zip](https://github.com/auth0/Lock.iOS-OSX/files/296765/Podfile.zip)

Also is there a way to add the submodules automatically like Touch/Email etc

[2016-07-12 14:19] farazhassan commented on #278
I still have the same error, found any solution yet?

[2016-07-13 22:39] nirmalthacker commented on #242
hi @hzalaz : I am currently also stuck on this issue - can you verify what you mean by "handled by the app itself"? I am also getting an email code link instead of a magic link

[2016-07-18 14:45] malbarando opened #285 "Controller sends full email"
I'm using A0LockViewController but I have a problem authenticating with Active Directory connection. If I understand it correctly, using email with matching domain should just use the local part as a username.

`let controller = lock.newLockViewController()`
`controller.usesEmail = false`
`controller.defaultADUsernameFromEmailPrefix = true`

I tried experimenting with the values but it still sends

[2016-07-21 03:15] katriciab opened #287 "Swift 3.0 Migration"
It would be great to have a version/branch that supports the latest version of Swift.

[2016-07-21 13:25] hzalaz commented on #287
@katriciab v1 is written in ObjC so no work is needed. For v2 we'll evaluate when we make a stable release.

[2016-07-21 13:25] #287 closed

[2016-07-22 17:48] heitortsergent opened #288 "Missing link to SSO wiki instructions on README"
The [SSO](https://github.com/auth0/Lock.iOS-OSX#sso) instructions in the README refers to this URL, which redirects back to the repo:

https://github.com/auth0/Lock.iOS-OSX/wiki/SSO-on-Mobile-Apps

[2016-08-02 09:46] sirvon commented on #287
so basically this lib is unusable with xcode8/swift3 ?

[2016-08-02 16:23] hzalaz commented on #287
@sirvon how you got that error?

[2016-08-03 02:59] sirvon commented on #287
I did carthage update, then I dragged the auth0 frameworks from Carthage/Build folder  into xcode, made sure the frameworks were in "link binary with libraries", then I did Build.

Am i missing a step

This is what I put in Cartfile

[code]

[2016-08-08 13:04] lutzj82 opened #292 "allow lock framework to enable bitcode by default"
Trying to run on real device.
The enable_bitcode flag is set to false and it needs to be set to the default true so that I can run on the device and submit to App Store

see the following pull request commit
https://github.com/auth0/Lock.iOS-OSX/pull/279/commits/954d3583e31f3d745a613267d521cc8346215645

[2016-08-12 14:17] iuliiazhelem opened #294 "The A0EnterpriseLoginViewController ignores the custom ClientId and Domain configuration"
Lock version 1.26.1
Code snippet:
let lock = A0Lock.newLockWithClientId(clientId, domain:domain)
let controller = lock.newLockViewController()

A0EnterpriseLoginViewController has property “lock” that never is initialized, that’s why this controller uses info from info.plist.

Possible solution:
file : A0LockViewController.m
method:  newEnterpriseLoginViewController
add "controller.lock = self.loc

[2016-08-20 01:20] hzalaz commented on #292
Closed by #279

[2016-08-20 01:20] #292 closed

[2016-08-20 01:22] #251 closed

[2016-08-20 01:22] #36 closed

[2016-08-20 01:22] #112 closed

[2016-08-20 01:22] #129 closed

[2016-08-20 01:22] #158 closed

[2016-08-20 01:22] #186 closed

[2016-08-20 01:22] #205 closed

[2016-08-20 01:23] #217 closed

[2016-08-20 01:51] #248 closed

[2016-08-20 02:03] #294 closed

[2016-08-20 02:52] #275 closed

[2016-08-26 11:19] 6franek opened #307 "Lock not displayed in fullscreen on an iPad"
I have a following problem when using Lock for iOS in my "universal" app on an iPad. Even though I set `presentationStyle` to `.FullScreen` the `ViewController` isn't displayed on a fullscreen. Moreover there are some UI issues when I open the keyboard. Below I attach screenshots where you can see the problem.

_iPad Air screenshot_
![screenshot_auth0](https://cloud.githubusercontent.com/assets/10

[2016-08-26 19:49] ronaldheft commented on #275
@hzalaz Is this supposed to be showing a numeric keyboard now? I see the correct labels, but I'm getting a regular keyboard instead of a numeric one.

[2016-09-05 14:00] ppaulojr opened #308 "A0SafariAuthenticator not dismissing SFSafariViewController"
`A0SafariAuthenticator` not dismissing SFSafariViewController

- [x] Code snippet or sample project that reproduces the bug
[code]
- [x] Screenshots when appropriate
- [x] Lock version
1.26.2
- [x] iOS version
9.3
- [x] If using Carthage or CocoaPods, please include your Cartfile or Podfile
[code]

Behavior expected: after successful authentication have the `SFSafariViewController` dismissed.
Curr

[2016-09-06 13:31] #308 closed

[2016-09-07 19:56] moperacz commented on #307
@hzalaz any thoughts on this?

[2016-09-07 21:08] hzalaz commented on #307
@moperacz we override the style in the `presentLockController` method, if you present it yourself you won't get the presentation style issue.

For the background, it's probably an issue where the color of the embedding nav controller is different from the lock controller so if you present Lock yourself you could set the color.

Since we are working in v2 I am not sure of when we will fix this in v

[2016-09-08 09:58] 6franek commented on #307
@hzalaz What do you mean by:

[2016-09-09 19:49] hzalaz commented on #307
Doing what the method

[code]

does in your own code. The only thing you won't be able to use is our custom navigation controller but you can copy-paste it till we get this fix out.

[2016-09-10 13:24] plamenterziev opened #315 "Present A0WebViewAuthenticator from selected parent view controller"
Instead of relying on A0ModalPresenter to provide top view controller as parent when call to authenticate, it would be nice if is able to provide a custom parent view controller. This will give additional flexibility and will provide more customization options.

[2016-09-12 20:30] gbejarano01 opened #317 "Xcode 8 Support?"
Are you evaluating to support Xcode 8?

We need to use your framework in one of our projects and since iOS 10 is going to be released tomorrow, we need this ASAP.

Please, let us know what you can do about it.

Thanks.

[2016-09-13 15:08] alexliubj commented on #317
iOS Lock0 for Objective -c works for my latest code with Xcode8

[2016-09-13 15:09] alexliubj opened #319 "Is there a way I make it automatically login?"
Or the same function as Remeberme in web?
Don't want to input username and password again in a short time.

[2016-09-13 15:40] gbejarano01 commented on #317
Since you have a few swift files in the project, it requires to be defined explicitly what Swift version you're using and update the project settings.

<img width="1398" alt="screen shot 2016-09-13 at 11 25 30 am" src="https://cloud.githubusercontent.com/assets/599212/18479954/dfd91d28-79a4-11e6-9904-3f989dd4d5db.png">

[2016-09-13 15:42] hzalaz commented on #317
They are tests, they should not matter when including the library

[2016-09-13 15:42] alexliubj commented on #317
I was using this :

pod 'Lock', '~> 1.24' should be a objective-C lib.

[2016-09-13 21:07] Jiropole commented on #317
After updating XCode to 8, I have an error when building the pod, in `NSError+A0APIError.h`:24 – A0ErrorCode.h not found. Which is odd because I can control-click through to the file. Anyone else seeing this?

[2016-09-14 14:41] Jiropole commented on #278
Possibly related: #317. @Winnie90 you shouldn't need a bridging header if built as a framework. I also tried using cocoapods v0.39 as suggested (`pod _0.39_ install`); same result. Note in my case this started happening when I switched to XCode 8, and was not previously a problem.

[2016-09-14 22:51] Jiropole commented on #317
This turned out to be a machine-local issue. Even though I'd tried cleaning pods and intermediate build data multiple times, something evil was sticking around and finally got exorcised. I still don't know exactly the fix, or if was specific to the Lock pod at all, but I have some tactics that will likely work should anyone else encounter this.

[2016-09-15 12:53] DBoskemper commented on #317
I'm having the same issue. Before updating Xcode everything worked fine. Now this error shows up: NSError+A0APIError.h:24 – A0ErrorCode.h not found. Which is strange because when I right click and choose jump to definition it is right there. I have these pod versions:
pod 'Lock', '~> 1.26'
pod 'Auth0'

Any help would be much appreciated!

[2016-09-15 14:49] Jiropole commented on #317
@DBoskemper try this. In your workspace, find Pods > Products > Lock.framework and Show in Finder. In the new window, back up a few levels and delete the entire Products folder. use `pod cache clean --all` on the command line. Make sure you're on cocoapods 1.0.1 (`pod --version`) and do a `pod install`. Try to build it. If this doesn't work, I'd create a fresh project with only the Lock pod, `#imp

[2016-09-18 17:51] hardikdevios opened #321 "Xcode 8 can't access error methods"
Any Idea?
![screen shot 2016-09-18 at 11 17 42 pm](https://cloud.githubusercontent.com/assets/6657591/18617798/4d7b0e22-7df6-11e6-9803-8950b7de700c.png)

**Not working** : `Xcode 8, Swift 3
`
**Was Working Fine** : `Xcode 7.3.x, Swift 2.2`

[2016-09-18 17:57] Jiropole commented on #317
After resolving compile-time issues converting to XCode 8 / Swift 3, my first runtime issues were also with Auth0: an assertion failure in `registerAuthenticators`: *Provider must have a valid identifier*, while processing a Twitter provider object.

For anyone else who runs into this, the solution appears to be to force-unwrap the optional value returned from `A0TwitterAuthenticator.newAuthentica

[2016-09-18 18:02] hardikdevios commented on #321
**Worked**, This seems to be working, for now

[code]

Swift 3 converting this type in `Error` rather than `NSError` which something looks obvious now but I think this should be the solution for Obj-C Bridging.

[2016-09-18 20:13] #288 closed

[2016-09-19 08:32] DBoskemper commented on #317
Thank you for your help, unfortunately I did not get it to work yet.

[2016-09-19 14:51] hzalaz commented on #321
@hardikdevios if you are using only the API client. I'd recommend using https://github.com/auth0/Auth0.swift.

[2016-09-19 14:51] #321 closed

[2016-09-19 14:52] #317 closed

[2016-09-19 16:38] hardikdevios commented on #321
Great mate Thank you i was afraid about Swift 3.0 but great to see Xcode 8 in Readme lols. Anyway will change my pod.

[2016-09-23 04:56] sirvon opened #325 "Carthage Crash."
This keeps happening....

[code]

[2016-09-23 12:15] Jiropole opened #326 "Lock-Twitter fails to build after updating Lock to v1.27"
Just updated from version 1.26.2 to 1.27; pertinent `pod` logs:

After updating Lock, Lock-Twitter no longer builds (in XCode 8.0), specifically at A0TwitterAuthenticator.m:58.

Indeed, under 1.26.2, it looks like this was set in `<Lock/A0Logging.h>`, but is not under 1.27.

[2016-10-05 13:59] #170 closed

[2016-10-05 14:00] #225 closed

[2016-10-05 14:00] #228 closed

[2016-10-05 14:00] #255 closed

[2016-10-05 14:01] #257 closed

[2016-10-05 14:01] #259 closed

[2016-10-05 14:03] hzalaz commented on #319
You can use a refresh_token to obtain a new token after the one you have expires, you can find and example of this in our doc samples for iOS. If you need further assistance please contact support at https://support.auth0.com

[2016-10-05 14:03] #319 closed

[2016-10-05 14:05] hzalaz commented on #326
@Jiropole will update that library since we stopped relying on a logging library and didn't update Lock-Twitter.

[2016-10-05 14:05] #326 closed

[2016-10-05 14:07] hzalaz commented on #325
@sirvon care to elaborate a little more about what version of Lock, Xcode version, etc?. The issue template has a small list of info you can provide to get a faster response otherwise there is little we can do

[2016-10-05 14:08] hzalaz commented on #315
We are considering this for v2

[2016-10-05 14:09] hzalaz commented on #285
@malbarando is this still an issue?

[2016-10-05 14:11] hzalaz commented on #277
Closing this, please go to https://support.auth0.com for support, we'd like to keep Github for issues

[2016-10-05 14:11] #277 closed

[2016-10-05 14:15] hzalaz commented on #276
I am not a big expert on cordova plugins but it could be a threading issue and where the callback is executed.
We were considering if it's worth wrapping the native lock in a plugin but after the experience with react-native we are not so sure about it.

I'd advise to ask in either ask.auth0.com or StackOverflow, probably someone can shed light with your issue after the plugin returns.

[2016-10-05 14:15] #276 closed

[2016-10-06 16:26] #307 closed

[2016-10-14 04:36] tofutim commented on #214
Hi, any update on this? I'm thinking about switching all our auth to Auth0 - but I'd like to see OSX in there as well.

[2016-10-14 09:42] nicolla1003 opened #329 "Could not build Objective-C module 'Lock'"
I am using Xcode 8 and newest Lock version 1.27.1 but still there is an issue.
Also I am using Lock as framework, using "use_frameworks!".
Please help.

<img width="292" alt="screenshot at oct 14 11-43-15" src="https://cloud.githubusercontent.com/assets/2221990/19383192/79c56f10-9203-11e6-915f-e3def911a8d1.png">

[2016-10-14 13:22] hzalaz commented on #214
We removed the API client from Lock to https://github.com/auth0/Auth0.swift but support for Lock on OS X is not near since we haven't even finished the iOS one.

[2016-10-14 13:24] hzalaz commented on #329
@nicolla1003 tried this yesterday since I was updating our samples and I didn't have this issue. Can you try with one of our samples or create a sample we can try it out?

[2016-10-14 13:25] nicolla1003 commented on #329
In meanwhile I solved this.
I just updated pods on the system to use pre-release version and after that it worked.

[2016-10-14 13:26] hzalaz commented on #278
Closing this one, please reopen if still an issue

[2016-10-14 13:26] #278 closed

[2016-10-14 13:26] hzalaz commented on #329
Great thanks!

[2016-10-14 13:26] #329 closed

[2016-10-22 16:38] chirag04 opened #331 "Support TVOS when installing from cocoapods"
cocoapods fails to install Lock when target platform is tvos.

[2016-10-22 16:59] Jiropole commented on #326
Well, I just tried again, updating again to lock 1.27.1, and ran into the same –exact– problem again (see original post).

Unfortunately, looks like I'll be restoring back to the last magic combination of versions I got working (Lock 1.26.2, CocoaLumberjack 2.3.0, Lock-Facebook 2.2.1, Lock-Twitter 1.2.0).

I guess it's not a big deal until I'm starting to miss out on new features, but it's a bit f

[2016-10-22 19:06] hzalaz commented on #331
It will since the library is only meant for iOS or OS X(without the UI)

[2016-10-22 19:13] chirag04 commented on #331
yes. how about supporting tvos tho?

[2016-10-24 13:00] hzalaz commented on #331
No plans to make it compatible since the UI will be completely different as well as the authentication options. It will probably be another library in a future.

[2016-10-24 13:00] #331 closed

[2016-10-25 10:00] helloniklas opened #332 "Xcode 8.1 dyld: Library not loaded: @rpath/Lock.framework/Lock"
When using Carthage and Xcode8.1 I get dyld: Library not loaded: @rpath/Lock.framework/Lock when running the app.

[2016-10-25 10:05] #332 closed

[2016-10-25 10:06] helloniklas opened #333 "Xcode 8.1 gives ** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSCFConstantString stringByAppendingString:]: nil argument'"
When presenting the log in view controller it crashes and says

** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSCFConstantString stringByAppendingString:]: nil argument'

I do.

[code]

[2016-10-26 00:18] cjazz commented on #326
I ran into this issue as well, per:  https://auth0.com/forum/t/issue-with-ios-quick-start-lock-twitter-1-1/3975

Commenting it out in A0TwitterAuthenticator.m fixes it but the real fix will be controlled by the authors, and a downstream cocoapod update.

[2016-10-27 19:43] DanMorganiOS opened #335 "Custom Facebook login resumeAuth fails on initial try"
Hello auth0 Team!

I came across a bug while implementing FB/Google auth into my app. This bug only applies to FB auth in particular.

When using the custom login route for Facebook the `resumeAuth` call comes back with false when the user authenticates. This is because the `URLComponents` extension method `a0_values` checks for the `fragment` being nil, but for some reason it comes back with `_=_

[2016-10-27 19:57] hzalaz commented on #335
Thanks, its more an issue with Auth0.swift that is already fixed [here](https://github.com/auth0/Auth0.swift/pull/56)

[2016-10-27 19:57] #335 closed

[2016-11-07 07:27] AnujWizni opened #337 "Unable to find a specification for `Lock (~> 1.27)"
I am not able to integrate the library using cocoapods. every time i install the pods i get "Unable to find a specification for `Lock (~> 1.27)" message. Please help in this issue

[2016-11-07 16:44] carlhunterroach opened #338 "Terminology: "Log in" or "Sign in""
Most of the UI uses the term "Log in" but in a few files "sign in" ihas crept in.

e.g., `Lock/Email/Private/A0EmailSendCodeViewController.m`

Line 100:  `Enter your email to sign in or create an account`

In this example, `Enter your email to log in or create an account` would add more consistency.

What do you think on this?

[2016-11-15 19:37] vladimirsakic opened #341 "FB Login"
I tried sample 01-Login and when I try to login with fb, it prompts me to enter fb user name and password though I'm logged in on both app and web browser. Is this expected behaviour?

[2016-11-29 10:21] szpako1 opened #350 "Swift 3.0 support"
Hi, what about swift 3.0 support? Any plans for quick release, even alpha version?

[2016-11-29 10:31] cocojoe commented on #350
@szpako1 If you're feeling adventurous, you can try out the next version of Lock.iOS which is Swift 3.0, usual disclaimers apply as this is a WIP so depending on your use case may not have the features you require yet. It's always good to get feedback though :)

https://github.com/auth0/Lock.iOS-OSX/tree/v2

[2016-11-29 11:32] hzalaz commented on #350
Also Lock v1 is written in ObjectiveC so it should work without a migration

[2016-11-29 11:32] #350 closed

[2016-11-29 11:40] hzalaz commented on #341
It is since it's displaying a webview and they do not share cookies. If you want you can use Safari VC for the connection by doing **before** showing Lock

[code]

[2016-11-29 11:40] #341 closed

[2016-11-29 14:27] #325 closed

[2016-11-29 14:28] hzalaz commented on #325
Please reopen if the issue persists, probably you didn't specify a version in Carthage and it picked the latest beta that did not support Swift 3

[2016-11-29 14:35] hzalaz commented on #337
@AnujWizni did you get the chance to solve this? Please make sure you are using latest cocoapods version

[2016-12-20 18:16] DanMorganiOS opened #358 "Email code page label gets cut off"
Hey auth0 Team,

I noticed the label gets a little too cozy sometimes to the edge with a longer email address (see below screenshot)

![image-2016-12-08-12-45-06-019](https://cloud.githubusercontent.com/assets/4333363/21363606/51abc244-c6bb-11e6-8f01-7b35e7dfb060.png)

[2016-12-20 18:33] cocojoe commented on #358
@DanMorganiOS could you repost your screenshot please, it doesn't appear to be rendering.  Thx

[2016-12-20 18:51] DanMorganiOS commented on #358
@cocojoe updated let me know if it disappears again!

[2016-12-20 20:38] cocojoe commented on #358
Thanks for reporting.

[2016-12-25 09:24] slxl commented on #212
@hzalaz hi! what's the current statement? want to integrate 1password, need to choose a right way.

[2016-12-27 22:38] cocojoe commented on #212
Priority has been [Lock.iOS v2](https://github.com/auth0/Lock.iOS-OSX/tree/v2). 1Password support will be reviewed shortly. Thx

[2016-12-27 22:38] #285 closed

[2016-12-28 14:04] #358 closed

[2017-01-16 23:17] nicolla1003 commented on #218
+1

[2017-01-17 14:44] frederic-adda opened #376 "Dismiss A0LockSignUpViewController"
Using Lock for iOS, version 1.28 (Swift 3)
When signing in, the A0LockViewController has a closable property which is very handy to dismiss this view controller.
However, when signing up, the A0LockSignUpViewController (instantiated via A0Lock.sharedLock().newSignUpViewController() does not have such a property and cannot be dismissed.

Android users have a "back" button to leave the sign up view

[2017-01-18 10:14] andreafalzetti commented on #212
We would love to see this integration 👍

[2017-01-20 13:05] krzysztofp opened #379 "UIAlertView"
The following error happens when building the project:

[code]

[2017-01-20 13:44] hzalaz commented on #379
Lock was not supposed to be used in an App extension, please check that you are not adding it you that target

[2017-01-20 13:44] #379 closed

[2017-01-20 13:47] krzysztofp commented on #379
Yes - I was using UrbanAirship-iOS-AppExtensions - it was breaking the build. Now I've removed it from the project.

[2017-01-26 19:50] nicoduj opened #382 "No translation in A0PasswordStrengthErrorHandler.h for formated strings"
I think there is a problem with translation of formated strings in A0PasswordStrengthErrorHandler. It doesn't use Lock.strings file sinc it uses localizedStringWithFormat and not the NSLocalizedStringFromTable macro, I suggest the following modification :

[code]

[2017-02-02 08:27] gdjennings commented on #276
@cevatkerim Did you ever make any progress with this? Cordova + lock + wkwebview + inapp-browser is killing me

[2017-02-03 02:09] dionc opened #383 "Add support for logging in from an iOS extension"
A common requirement for an iOS Share extension is that the user needs to be logged in in order to share files. I would like to use Auth0 to log in from my Share extension but it is currently not supported.

I found the following two issues, there may also be others:
1. A0Alert uses UIAlertView. This is deprecated and is not supported for extensions.
2. A0ModalPresenter uses sharedApplication. Thi

[2017-02-03 07:03] nicoduj commented on #383
Hi,
I had the same issue / problem. What I did was to integrate only  'Lock/Core' in my target extension (through cocoapods), and I built my own login UI. couldn't find any other way.

[2017-02-07 00:13] adeperio commented on #214
Putting my hand up for an OSX version :) +1

[2017-02-08 08:02] dionc commented on #383
Thanks for the tip!

[2017-02-13 10:30] helloniklas opened #388 "A0TouchIDLockViewController not available in Swift"
I can't do

        let lock = A0Lock.shared()
        let controller = lock.newTouchIDViewController()

Or as per your old sample

        let controller = A0TouchIDLockViewController(lock: A0Lock.shared())
        let controller = A0Lock.shared().newLockViewController()

I've included the pod for touch, also added to bridge header #import <Lock/Lock.h>

Not sure what I'm missing. Compiler compla

[2017-02-20 14:59] mwawrusch opened #398 "1.0 - 2.0 - how to access apiClient to obtain profile?"
HI guys, I am porting some code over to swift 3.0 and need help how to access the API client in Lock. Perhaps there is a different way now (the code below also makes use of the refresh token)

[code]

[2017-02-20 15:07] cocojoe commented on #398
Hi @mwawrusch

In 2.0 the process has changed for requesting this information.  I would recommend you check out the [QuickStart Guide](https://auth0.com/docs/quickstart/native/ios-swift/02-custom-login) for example code.

Any more questions please feel free to ask.

Best,
Martin

[2017-02-20 15:22] mwawrusch commented on #398
Ah thanks - missed that one - my brain got fried upgrading to swift 3 for a day straight...

[2017-02-25 11:13] carlhunterroach opened #400 "User-interface text cut-off on small screen iPhones"
The text "Please check your mail %@.\nYou’ve received a message from us with your passcode" is abbreviated on small-screen iPhones.

Lock.swift/Lock/Email/Private/A0EmailCodeViewController.m
Line 105

In looking at the ObjC I noted an broad range of terms used by Auth for the passcode. I'll raise a separate issue for this.

[2017-02-25 11:34] carlhunterroach opened #401 "Too many names for passcode used in User Interface"
Release 1.28.2
In Lock.swift/Lock/Email/Private/A0EmailCodeViewController.m there are the following terms used for the passcode:

[code]

In Lock.swift/Lock/Email/Private/A0EmailSendCodeViewController.m these terms are used for the passcode:

[code]

In the emails sent by Auth0 the term "Your verification code is:" is used.

Line 119 also confuses. Some of my users read 'Email' in 'Email Code' as

[2017-02-28 16:49] #398 closed

[2017-03-01 14:12] helloniklas opened #407 "How to do login the user if password is known from SecRequestSharedWebCredential in v2.0?"
In previous versions I was able to retrieve the web credentials form the keychain with SecRequestSharedWebCredential then just log the user in with"

[code]

How do I login the user with v2.0 Lock if I had the password already?

[2017-03-01 14:53] cocojoe commented on #407
Hi @helloniklas

You can use the [Auth0.swift SDK](https://github.com/auth0/Auth0.swift) directly to login.  You can also find more information in the [QuickStart](https://auth0.com/docs/quickstart/native/ios-swift/02-custom-login)

[2017-03-02 10:12] huguesbr opened #408 "offline access"
Is there any doc on offline access using Lock v2?

v1 doc state:
https://auth0.com/docs/libraries/lock-ios/v1/sending-authentication-parameters

But I can find the equivalent for Lock v2.
Is seem, it now done via the scope parameters, but not sure it's enough.

I can see from this fix (https://github.com/auth0/Lock.swift/pull/211/files) that it seem to also required some device name, any doc on th

[2017-03-02 10:46] cocojoe commented on #408
Hi @huguesbr

In the v1 doc you linked it mentions [unique name](https://auth0.com/docs/libraries/lock-ios/v1/sending-authentication-parameters#device-nsstring)

You use the `offline_access` scope to enable use of  *refresh Tokens*, you can find more information here [Refresh Tokens](https://auth0.com/docs/tokens/refresh-token)

Also you can find a complete sample project here [User Sessions](http

[2017-03-02 12:53] huguesbr commented on #408
Hi cocojoe,

Sorry to bother again.
(I think), I understand the refreshToken mechanism, but on my first login, the access_token is still valid (as it only expires in 24h), so the `Auth0.authentication().userInfo(token: accessToken)` succeed without needing to refresh the token.

The issue is that even if I do refresh the token using the refresh_token (directly at the time of my login), I only get

[2017-03-02 13:36] cocojoe commented on #408
Hey @huguesbr

The access_token will expire in 24h and that's fine, and on first login, feel free to use that.  The refresh_token you obtain is the one you want to store securely as it will last indefinitely.

If you looked at the QuickStart/Sample Chapter, you will see you use the Auth0 SDK directly to check if the access token is still valid by grabbing the users info.  If not then call the rene

[2017-03-03 09:19] ened opened #409 "CustomTextField & sign up form should support fields without icons"
As written in the subject, we would like to remove the images from our custom fields:

[code]

=> The icon field should become optional.

[2017-03-03 11:28] cocojoe commented on #409
Hi @ened

I feel this would not be in keeping with the primary fields such as email and password, you could use a transparent image although again this gives you an inconsistent look and feel

[2017-03-03 12:09] ened commented on #409
@cocojoe Get your reasoning, yet still two comments:

1. Auth0's web-version allows me to remove the icons. It looks just fine.
2. Any icon recommendation for first & last name? :-)

![simulator screen shot mar 1 2017 12 12 49](https://cloud.githubusercontent.com/assets/269860/23550669/3d40f47a-004d-11e7-8682-c3368660ede3.png)

[2017-03-03 13:21] cocojoe commented on #409
1.  That's a valid point, let me discuss internally.
2. Personally I would go generic with a head type icon perhaps.

[2017-03-03 15:49] huguesbr commented on #408
@cocojoe gotcha thx

[2017-03-03 15:49] #408 closed

[2017-03-13 22:44] #407 closed

[2017-03-13 22:45] hzalaz commented on #401
Thanks we will try to solve this in v2 since in v1 the values sadly are the keys for i18n so changing them is a breaking change

[2017-03-13 22:45] #401 closed

[2017-03-13 22:46] carlhunterroach commented on #401
Great
On Mon, 13 Mar 2017 at 22:45, Hernan Zalazar <notifications@github.com>
wrote:

--
Carl D Hunter Roach
Bisham Barn Owl Group
Runnymede Ringing Group

[2017-03-13 22:47] hzalaz commented on #383
Lock v1 was not meant to be used from an extension, if you can try Auth0.swift for this and if its not possible please submit an issue and we'll fix it

[2017-03-13 22:47] #383 closed

[2017-03-13 22:48] hzalaz commented on #337
Closing please reopen if the issue still persists

[2017-03-13 22:48] #337 closed

[2017-03-13 22:51] hzalaz commented on #376
Hi sadly we won't be committing work on adding this feature in v1 if you can we recommend migrating to v2 (we will also review a PR)

[2017-03-13 22:51] #376 closed

[2017-03-14 19:31] ppaulojr opened #412 "Test handleURL only for provider selected"
Note for me to open a PR against V1

The following code is wrong in `A0IdentityProviderAuthenticator.m`:

[code]

Should be something like:
[code]

[2017-03-14 19:41] hzalaz commented on #412
@ppaulojr can you elaborate?

[2017-03-14 19:47] ppaulojr commented on #412
The method handleURL should check if the authenticator that will handle the URL is the one that initiate the request.

Since Lock is not cleaning the `self.authenticators` when we add a new one, It keeps the old ones, then we need to check if the authenticator is the one that is supposed to handle that URL.

Notice that the current check in `A0SafariAuthenticator` is not enough.

[code]

Because `

[2017-03-14 19:51] hzalaz commented on #412
Ok, Ideally safari authenticator can know if it has a pending transaction so I'd concentrate the fix there instead of changing any other class

[2017-03-14 19:52] ppaulojr commented on #412
Is there a way to deregister an authenticator?

[2017-03-14 19:55] hzalaz commented on #412
No, and it should not be necessary to de-register one. Can instead of posting the code post it some steps to reproduce the issue? I will gladly merge a PR but I want to understand the issue first 😄

[2017-03-14 20:01] ppaulojr commented on #412
Steps to reproduce:

1) Create an A0SafariAuthenticator for one connection type (a SAML connection for instance) and use it.
[code]

2) Log out (the App logout, not a federation Logout) from the first connection but don't close the App.

3) Try to log using another connection (an ADFS connection for instance)

Step 3 fails (and don't close the window) because it's being handled by the first `A0Saf

[2017-03-15 19:01] hzalaz commented on #412
@ppaulojr why you are registering it with lock if you trigger the auth with safari directly?

[2017-03-15 21:18] ppaulojr commented on #412
I'm not using safari directly. I'm using A0SafariAuthenticator.

[2017-03-16 20:10] hzalaz commented on #412
@ppaulojr I know but you are not using Lock at all just `A0SafariAuthenticator` so why registering it with Lock?

[2017-03-16 20:17] hzalaz commented on #409
@ened we can add this to our backlog

[2017-03-16 20:43] ppaulojr commented on #412
That's kinda confusing for me. I understood Lock was everything related to Auth0 (thus the name `Lock` in the library)

If I don't register it with Lock how the callback will be triggered?

[2017-03-16 20:46] hzalaz commented on #412
Yes, that confusion made us split the old Lock in 2 libraries: the SDK to handle the Auth itself and Lock to handle the UI (some of this separation was done with subspecs).

All Authenticators have the following method https://github.com/auth0/Lock.swift/blob/v1/Lock/Provider/A0AuthenticationProvider.h#L68 that is called internally by lock but you can kill the middle-man and call it from the AppDe

[2017-03-21 15:59] matt-oakes opened #416 "Add style properties for the status bar"
See #415 for details. This is a public issue to track the feature.

[2017-03-29 18:42] srcreigh opened #420 "Migration guide credentials section is unclear"
Hi, this section in the documentation is unclear: https://github.com/auth0/Lock.swift/blob/master/MIGRATION.md#auth0-credentials

The old team was using Lock v1, and they have put `Auth0ClientId` and `Auth0Domain` fields into the `Info.plist` of the application. This section doesn't describe what should be done with those fields.

[2017-03-29 18:58] srcreigh commented on #420
FYI I gave up on migrating to Lock v2 because the auth0 v1 APIs that we were using are completely undocumented in lock v2. I.e. stuff like `A0Lock.shared().apiClient().signUp(withEmail: email, password: password, loginOnSuccess: true, parameters: A0Parameters, ...)`

[2017-03-29 19:14] hzalaz commented on #420
@srcreigh we stop recommending credentials in Info.plist in favor of Auth0.plist before v2 and thats why is not here. We could add that info later but its not hard to figure out that the correct way of adding your auth0 credentials now is using `Auth0.plist`

About the API client, we missed that section since we splitted lock and api client in different libs and the API client now is [Auth0.swift]

[2017-03-29 19:39] srcreigh commented on #420
re: API client, cool, thanks. we might migrate later.

[2017-03-29 19:39] #420 closed

[2017-03-29 19:40] cocojoe commented on #420
Thanks @srcreigh for the feedback, in the mean time it's worth looking at the QuickStarts that cover your questions.
https://auth0.com/docs/quickstart/native/ios-swift/00-getting-started

Also checkout the Custom Login chapter which shows using the `.signUp` method in Auth0.swift
https://auth0.com/docs/quickstart/native/ios-swift/02-custom-login#implement-a-sign-up

Sample source code is also prov

[2017-03-29 19:41] srcreigh commented on #420
thanks @cocojoe :)

[2017-03-30 13:59] marco1981 opened #421 "Warnings with Xcode 8.3"
It seems there are 8 warnings produced while compiling Lock pod on XCode 8.3.
Warnings always start with: "_String interpolation produces a debug description for an optional value; did you mean to make this explicit?_"

Could you please fix it on next release? Thanks

[2017-03-30 14:06] cocojoe commented on #421
Hi @marco1981, 8.3 was released 3 days ago, rest assured any such warnings will soon come out in the wash. Thx

[2017-03-30 14:06] #421 closed

[2017-04-06 08:22] cocojoe commented on #212
For this still interested, this will be coming very soon as the work has been done.  If anyone is feeling adventurous and would like to take a preview look and feedback. The info is here https://github.com/auth0/Lock.swift/pull/422

[2017-04-12 19:04] davemitchell opened #427 "Email field validation fails when using iOS keyboard shortcut"
Using Lock 2.1.0, the email field will not correctly validate an email address that was entered using a keyboard shortcut.

Steps to repro:
* Create an iOS keyboard shortcut:
  * Settings => General => Keyboards => Text Replacement
  * Tap +
  * Phrase = foo@bar.com
  * Shortcut = f!
  * Save
* Run the app, navigate to the Lock screen
* In the email field, type 'f!' followed by the keyboard "Next"

[2017-04-13 01:41] davemitchell opened #428 "Support for remember-last-login feature"
Mobile app could really benefit from having the ability to remember (prepopulate) the last username.  It's the number one request from our users right now.

Here's the feature in the web version of lock:
https://auth0.com/docs/libraries/lock/v10/customization#rememberlastlogin-boolean-

[2017-04-18 08:45] cocojoe commented on #427
Thanks for the steps, can confirm.  Will add to list.

[2017-04-18 08:47] cocojoe commented on #428
Thx for your request, a feature relating to remembering the last user is coming soon.

[2017-05-16 09:14] cocojoe commented on #416
Has been merged.

[2017-05-16 09:14] #416 closed

[2017-05-16 09:15] cocojoe commented on #409
Has been merged.

[2017-05-16 09:15] #409 closed

[2017-05-16 09:16] cocojoe commented on #212
Has been merged.

[2017-05-16 09:16] #212 closed

[2017-05-16 09:18] cocojoe commented on #338
This was tidied up Lock 2

[2017-05-16 09:18] #338 closed

[2017-05-16 09:19] matt-oakes commented on #416
Great! Thanks!

[2017-05-16 09:21] cocojoe commented on #382
Do you have some screenshots to demonstrate a bug?

[2017-05-16 09:24] cocojoe commented on #388
Double check your setup, this does work:
https://github.com/auth0/Lock.swift/tree/v1#touchid

[2017-05-16 09:25] cocojoe commented on #400
I believe this was patched.

[2017-05-16 09:25] #400 closed

[2017-05-16 09:25] #412 closed

[2017-05-29 13:39] sitefinitysteve opened #437 "Please expose protocols to Objective C"
I am not of a ObjC\Swift guy to PR this myself 😄

Basically though we just need the @objc added to some of the declarations like OptionsBuildable and Style (likely others) to be consumable by NativeScript as there's no Swift->Javascript bridge.

Issue is explained in detail here:
https://github.com/NativeScript/ios-runtime/issues/769#issuecomment-304635341

Also it's being reported on my repo here

[2017-06-03 03:38] vtjon commented on #437
Auth0 Team,

Is this going to be possible? I am starting a large project based on Nativescript and planned to use the Auth0 Lock component.

Thanks.

[2017-06-05 08:42] cocojoe commented on #437
@sitefinitysteve not all Swift functionality can simply be exposed with @objc, sometimes it's fundamentally not compatible.
For exposing additional functionality for ObjC we recommend creating a [Hybrid Swift/ObjC project](https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/MixandMatch.html).

Source - [Lock 2.x Hybrid](https://github.com/auth0-samples/auth

[2017-06-05 08:42] #388 closed

[2017-06-05 10:25] cocojoe commented on #218
A0Theme is used for styling, to change titles you need to setup internationalisation e.g. Add a `Lock.strings` file and add your strings ```"ACCESS" = "GO";```

I would recommend upgrading to Lock 2 which has more thorough support and documentation.
https://auth0.com/docs/libraries/lock-ios/v2/internationalization

[2017-06-05 10:25] #218 closed

[2017-06-05 10:26] #315 closed

[2017-06-09 13:36] #437 closed

[2017-07-25 06:28] mosn opened #447 "Xcode9 Support ?"
Any plan to have Swift 4 and XCode9 support in near future ?
![image](https://user-images.githubusercontent.com/5232329/28558663-28bcadc8-7113-11e7-9e0c-0d30c3ca4ad7.png)

[2017-07-25 19:58] cocojoe commented on #447
This is two questions, Lock 2.3.1 runs fine in Xcode 9B3 under Swift 3.2.  However if converted to Swift 4 there are issues, this is something that will be resolved soon.  Thx

[2017-07-25 23:13] cocojoe opened #449 "Enterprise SSO disabled when `allow` restricted."
The following will disable SSO `$0.allow = [.Login, .ResetPassword]`

[2017-07-26 07:13] mosn commented on #447
Thanks for the answer!

[2017-07-26 07:13] #447 closed

[2017-07-30 18:01] mosn opened #451 "Grant type 'http://auth0.com/oauth/legacy/grant-type/ro' not allowed for the client.""
I am looking at 10 different docs and support cases and everything is so confusing when it comes to `Auth0` & `Lock`. I need to do a simple passwordless authentication and though SMS but I have no success getting it to work. What should be a simple task, took 5 hours and still no results. I created my client few days ago so I assume I am not considered a `legacy` client.

My account is in trial ph

[2017-07-31 12:35] cocojoe commented on #451
Hi @mosn

Sorry to hear this, you are correct you are not a legacy user.  The README does mention it is not available https://github.com/auth0/Lock.swift#lock-passwordless.  However, I can understand the frustration, this functionality is going through a transition period, so at this point in time it may be a bit confusing.

The recommend way is to use the Auth0.swift SDK [Getting Started](https:/

[2017-07-31 13:56] mosn commented on #451
Hi @cocojoe

I can understand that this flow works with hosted login page but I need to integrate passwordless SMS authentication  on my custom native UI and cannot use Hosted login. Is Lock currently able to satisfy this requirement ?

[2017-07-31 14:56] cocojoe commented on #451
Unfortunately at this time there is no way to build a custom native UI for passwordless for new tenants.

[2017-07-31 14:57] mosn commented on #451
How about starting off by adding this in the documentation ;)
[code]

[2017-08-03 06:23] #451 closed

[2017-08-04 16:35] aaguiarz commented on #451
Hi @mosn, the link that @cocojoe pointed to actually intends to convey that it will not work without the Legacy Grant enabled, which new Auth0 accounts do not have, but it's probably not clear enough.

We plan to change it to something like:

Do you think this would have helped to make it more clear?

Thanks

[2017-08-13 13:58] mosn commented on #451
Hi @aaguiarz,

Apologies for the late response, new documentation reads more clear and is easily understandable.

Thanks again

[2017-08-13 19:19] aemengo opened #454 "CustomTextField not performing any validation"
When I use `CustomTextField`, by overriding or not overriding the validation option, a user is able to successfully signup without filling in those fields.

**Code snippet or sample project that reproduces the bug**

[code]
**Lock version**
Lock 2.3.0

**iOS version**
10.0

**Podfile**

[code]

**Lock.swift logs**

[code]

**Screenshots when appropriate**

![when I click submit the form will go an

[2017-08-14 08:31] cocojoe commented on #454
Thank you for this report, I believe this is actually fixed in PR #448 so this can be resolved soon.

[2017-08-14 08:31] #449 closed

[2017-09-03 12:42] Alienbash opened #457 "Lock Log in does not work"
### Issue:
When trying to log in to Auth0 using "Lock" in my Swift App (username-password), i always get an error "WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN". It has to be a bug in the Lock framework, because Auth0 shows my User after Sign up and is capable of loggin my user in. In addition to that, everything works perfectly well, when using the **web login** in my app. Just Loc

[2017-09-05 10:19] cocojoe commented on #382
I am going to close this issue as no further information provided.

[2017-09-05 10:19] #382 closed

[2017-09-05 10:22] cocojoe commented on #457
Please try adding the following to options:

[code]

[2017-09-05 10:38] Alienbash commented on #457
@cocojoe  Thanks for the reply, but unfortunately, the same error still appears with

[code]

And turning on "OIDC Conformant" in my Auth0 client's advanced settings:
<img width="841" alt="oidc" src="https://user-images.githubusercontent.com/23366008/30057439-fe357c16-9236-11e7-9091-a7a16e6dc1b1.png">

[2017-09-05 10:49] cocojoe commented on #457
I would check your Dashboard Logs first. It would be helpful here to expand the logging to check the actual server response. As this is a generic soft error.

https://github.com/auth0/Lock.swift#logging

Also If you were already using non OIDC then I would switch it back and only make changes if you have looked at [OIDC Adoption](https://auth0.com/docs/api-auth/tutorials/adoption) and are ready to

[2017-09-05 11:41] Alienbash commented on #457
In order to avoid any issues, which might come from OIDC adoption, i created a completely new client with OIDC switched on from the beginning. When logging the HHTP request as suggested, i get the error:
`{"error":"unauthorized_client","error_description":"Grant type 'http://auth0.com/oauth/grant-type/password-realm' not allowed for the client.","error_uri":"https://auth0.com/docs/clients/client-g

[2017-09-05 12:32] cocojoe commented on #457
Have you set **Client Type**  to `native`?

<img width="570" alt="screen shot 2017-09-05 at 13 32 09" src="https://user-images.githubusercontent.com/928115/30061281-ad29b802-923e-11e7-8a4e-6b5c424296e0.png">

[2017-09-05 12:34] Alienbash commented on #457
Yes, the client type is native.

[2017-09-05 12:42] cocojoe commented on #457
Sorry, should have said this as well you need to enable the `password` grant.

[2017-09-05 12:47] Alienbash commented on #457
Thanks a lot! Enabling the password grant actually solved the issue. So my issue is not actually a bug and ticket can be closed.

[2017-09-05 12:54] #457 closed

[2017-09-08 11:28] aemengo commented on #454
I've noticed the most recent PR merge into master which addresses this issue, thanks.

But now I'm unable have optional CustomTextfields. For instance in the example above 'Promo Code' should be optional and I'm trying to achieve that by using validation: {_ -> Error? in return nil}) as a parameter to the CustomTextField.

However, I still must enter a space ' ' into the field and then delete for

[2017-09-08 13:49] cocojoe commented on #454
You sure this worked before? I'm testing pre this patch and with a custom validator this issue is still present.

[2017-09-08 13:59] cocojoe commented on #454
You will be pleased to know while fixing another bug it also fixed your issue 😄 #459 That PR should be merged soon. Be great if you can test thanks.

[2017-09-08 15:38] aemengo commented on #454
awesome, thanks

[2017-09-10 06:57] fredvollmer commented on #277
Reopening this...I don't see a ay to accomplish this using Lock.swift, even though the API docs say it's possible to include `given_name` in the create user request. Can we get some clarification?

[2017-09-11 09:49] #427 closed

[2017-09-11 09:49] cocojoe commented on #454
@aemengo can you update from master and try again please, have merged that PR. So should be all good.

[2017-09-11 09:52] cocojoe commented on #428
Can I check are you using Lock Classic or Passwordless? Thx Sorry for the delay.

[2017-09-11 10:18] aemengo commented on #454
@cocojoe  I'm sorry but I'm still able to reproduce using SHA: `a07efbbb1d141ac3f9afdb7bf2192d063c59c307`

I've attached a recording of what I'm seeing, the field "Promo Code" here is intended to be optional, meaning that I don't expect the user to interact with it in order to proceed.

[lockSignupExample.zip](https://github.com/auth0/Lock.swift/files/1292178/lockSignupExample.zip)

[2017-09-11 10:49] cocojoe commented on #454
Odd I did test this and used your closure example, I'll take a look.

[2017-09-11 11:15] cocojoe commented on #454
Thanks for video, can confirm.  Was a difference in testing, I was stepping through the form which is one case.

[signup_promotion.zip](https://github.com/auth0/Lock.swift/files/1292321/signup_promotion.zip)

[2017-09-11 19:53] cocojoe commented on #454
@aemengo This should be really fixed this time in #462 see screenshot in the PR.

[2017-09-12 08:28] #454 closed

[2017-09-12 17:52] aemengo commented on #454
Alright thanks for the world class support on this.

[2017-09-22 07:04] davemitchell commented on #428
Classic

[2017-09-28 22:47] jeco1996 opened #470 "Swift 4 Cocoapods Issue (How to Fix)"
Lock Error/warnings  on project from scratch and already advanced project..
I had project I was building, since I moved today from swift 3 to swift 4(today I installed xcode 9), Lock framework failed to compile.

I gave it a try on a fresh project(from scratch, whose only has one view controller and the only frameworks that it has is Lock and Auth0) and it failed again, so I have realized it is no

[2017-09-29 09:35] cocojoe commented on #470
The latest Lock `2.4.0` is compatible with Xcode 9 in the sense it will compile as Swift 3.2 lib while your main project is Swift 4.0 and it's absolutely fine to mix.

The problem here (I'm guessing you're using **Cocoapods** as there is no issue with **carthage** ) is the Cocoapods will force the pods to become the Swift version of your project which is 4.0.  You can read about this here https://

[2017-09-29 14:08] jeco1996 commented on #470
Awesome! Thank you very much guys!

[2017-09-29 15:01] cocojoe commented on #470
I'm going to leave it open just now for visibility, perhaps it's worth adding to the README.

[2017-09-29 18:06] b-d commented on #470
This fixed the swift 4 errors for me but now I'm getting:

" 'shared' is unavailable: Use view controller based solutions where appropriate instead. "

in Auth0/ControllerModalPresenter

[2017-09-29 19:46] cocojoe commented on #470
@b-d what are you making, it sounds like you are making something that doesn't have a view controller, like an app extension. Please create a new issue and provide sample code. I don't believe this is a Swift 4 issue. Thx

[2017-10-11 18:22] superarts opened #471 "Rough timeline of "Future roadmap of Lock v2 for iOS""
Moved from: https://github.com/auth0/lock/issues/1141

Hi,

Is there any (even very rough) timeline for those cool features mentioned in the link below please? Are they likely to be implemented in this year? Thanks!

https://auth0.com/docs/libraries/lock-ios/v2#future-roadmap-of-lock-v2-for-ios

## Future roadmap of Lock v2 for iOS

- Native Authentication with third party SDKs (Facebook, Google,

[2017-10-11 18:35] cocojoe commented on #471
@superarts actually most of that is implemented so the roadmap is not as relevant, so I'll remove it 😄 Thanks for the reminder.

[2017-10-11 18:35] #471 closed

[2017-10-11 19:16] superarts commented on #471
Thanks @cocojoe, may I ask where I'll be able to find the documents for features like "automatic token refresh" and "remember me like feature using touch ID" please?

[2017-10-11 19:18] cocojoe commented on #471
Sure

[Credentials Manager - Token Renewal](https://github.com/auth0/Auth0.swift#credentials-management-utility-ios-only)

[Tutorial Touch ID & Credentials Manager](https://auth0.com/docs/quickstart/native/ios-swift/08-touch-id-authentication)

[2017-10-11 19:19] superarts commented on #471
Many thanks!

[2017-10-20 11:57] helloniklas commented on #470
v 1.9 gives me
[code]

This fix does not seem to solve it.

[2017-10-20 12:13] cocojoe commented on #470
I imagine you probably have to deintegrate the pod and reinstall for an existing project vs a new one.
So I just quickly checked this, you can also update setting in the existing Xcode project.
Set to `Swift 3.2`

<img width="864" alt="screen shot 2017-10-20 at 13 04 11" src="https://user-images.githubusercontent.com/928115/31820139-c5bbde96-b597-11e7-890f-b83d615f9e74.png">

[2017-11-07 09:15] aplusm opened #475 "Lock.continueAuth(using: userActivity) modifies UIKit on a background thread"
Hi,

I'm using Lock to develop a passwordless login using email + magicLink.

Extract of my podfile.lock:
- Auth0 (1.9.1)
- Lock (2.4.1):
    - Auth0 (~> 1.9)
    - Lock/Classic (= 2.4.1)
- Lock/Classic (2.4.1):
    - Auth0 (~> 1.9)

In code, my setup is pretty standard :

However in my app delegate, the continueAuth method triggers a background thread update of UIKit

Method called

The output :

[2017-11-07 09:50] cocojoe commented on #475
@aplusm thanks for reporting, I'll take a look at this today.

[2017-11-07 11:46] cocojoe commented on #475
Fixed in #476

[2017-11-21 10:14] #475 closed

[2017-11-29 11:03] nderkach commented on #470
Any plans to upgrade the code to Swift 4?

[2017-11-29 11:11] cocojoe commented on #470
Yes, along with some other bigger changes so keep an eye out.

[2017-12-07 06:46] adolfo commented on #470
@cocojoe Any update on Swift 4 release timeframe? We are currently blocked from updating our own pod to Swift 4 since you can't lint mixed podspecs and we have Lock as a dependency.

[2017-12-07 10:43] cocojoe commented on #470
@adolfo
1. This may be fixed in Cocoapods 1.4 (beta), I read they were addressing the issue of mixed pods, although it may just be for installation of pods vs lib functionality.
1. You could also fork and migrate to Swift 4, it's not so bad.
1. Lock 3.x will have a complete redesign, I can not give you a timeframe on an official release. However, if possible I would like to see a beta release towa

[2017-12-18 10:35] cocojoe commented on #470
There is a PR that adds 3.2/4.0 compatibility, this should negate the above issue.  https://github.com/auth0/Lock.swift/pull/480

@adolfo We will release early this week, if you want to try out this branch and feedback that would be great.

[2017-12-18 16:07] adolfo commented on #470
@cocoojoe thank you, I’ll test it out

[2017-12-30 11:15] carlhunterroach opened #482 "Submit button all but hidden on iPhone SE"
Building with v2.4.2 and targeting the iPhone SE (iOS 10.1).
Building for Passwordless.

In Portrait:
The top of the submit button is hidden by the keyword when the email text field is tapped.
This gives an unfinished look to the UI.

In Landscape:
The submit button is wholy hidden by the keyboard and this gives a cleaner look than the portrait orientation.

[2017-12-30 11:20] carlhunterroach opened #483 "Can't cancel email entry once keyboard is visible"
Building using v2.4.2
Passwordless.
Target iPhone SE (iOS 10.1)

Tap email text field and keyboard appears.

The only route forward is to tap Done.
On larger screens (e.g., iPhone X) the Close button is available.

Just a suggestion:
I would like a tap outside of the text field to hide the keyboard and restore the Close button.

[2017-12-30 11:43] carlhunterroach opened #484 "button title always hidden"
Lock v2.4.2
Passwordless

I set `withStyle .hideButtonTitle = false`

The submit button is displayed as a circle enclosing a `>` without a label.
Have I sent the correct flag?

[2018-01-03 11:55] cocojoe commented on #484
Thanks, this may just have been missed out for Passwordless, as the default in classic is to show `Log In`

[2018-01-03 12:29] cocojoe commented on #483
You can still scroll though?, tbh the most logical operation from a user perspective is to hit done anyway after entering their email.

[2018-01-03 12:46] cocojoe commented on #482
Thanks for the feedback, although I would say this is a subjective minor UI issue.

[2018-01-03 15:05] carlhunterroach commented on #482
@cocojoe I agree. Where you set the bar, isn't up to me.

[2018-01-03 15:09] carlhunterroach commented on #483
I agree; the most "popular" path through your UI is to tap Done. It's probably also true that a majority of users have larger screens. I'm not sure either means that other options don't need to be readily available.

I never thought to scroll; perhaps because the UI isn't a list.

[2018-01-03 18:00] carlhunterroach commented on #484
Perhaps the code is correct but the documentation is at fault?

For a Passwordless UI, what could the button label be set to? Auth0 doesn't know if the user is creating a new account or logging into an existing account so Auth0 can't use "Sign In" or "Sign Up".

Perhaps it would be better to allow the developer to set the text? Perhaps "Next" is a workable catchall label? The Passwordless UI is a

[2018-01-05 10:00] carlhunterroach commented on #482
The view for entering a code.
The keyboard, on iPhone SE, hides the submit button completely.
There is nothing in the view that suggests a user should scroll the view.
The older version of Lock had a better layout and was usable by all users.

[2018-01-05 16:44] cocojoe commented on #484
`Next` is a good suggestion or it could be dynamic so `Send Code / Link` although `Next` is nice and simple 😄
I think when this came up, Passwordless in Lock 2.x may not have existed.

[2018-01-09 16:28] carlhunterroach opened #486 "passwordless with .magicLink fails whereas .code works"
Using:
github "auth0/Lock.swift" "2.4.2"
github "auth0/Auth0.swift" "1.9.2"

I've followed your [example](https://auth0.com/docs/connections/passwordless/ios-email-swift) and have a working example with `.passwordlessMethod = .code`

But when I change that to `.passwordlessMethod = .magicLink` then when I enter an email address and tap Submit I get an error message `"WE'RE SORRY, SOMETHING WENT WR

[2018-01-09 16:33] carlhunterroach commented on #483
Given that iPhone SE users always need to scroll down after entering the passcode - because the keypad code is quite tall - could the code be made to auto-scroll down when the keyboard is made visible? This would be handy for both screens (email/details and passcode).

[2018-01-09 19:08] carlhunterroach commented on #486
Thanks - that solved it for me.

The logs reveal the issue:

    {"error":"missing_property","error_description":"Missing client.mobile.ios.app_bundle_identifier is required."}

    ERROR | PasswordlessPresenter.swift:149 - Failed with error codeNotSent
    The operation couldn’t be completed. (Lock.PasswordlessAuthenticatableError error 1.)

I went to my Auth0 account and for my Client, went to S

[2018-01-09 19:13] cocojoe commented on #486
Great

[2018-01-09 19:13] #486 closed

[2018-01-09 19:14] carlhunterroach opened #487 "MagicLinks - can they open an iOS app?"
I'm receiving magicLinks to my inbox (thanks for help on this!). But when I tap on the link from my iOS email client I am taken to a web page of the form "Your verification code is 123456"

I was expecting my app to be opened. Returning to my app, there is no option to enter the code.

Should magicLinks in emails open apps?

[2018-01-09 19:20] cocojoe commented on #487
Yes assuming it has been setup correctly, associated domains have been added. In my experience you also need to 'at least at first', use the Apple Mail app to test. If you hold down on the Magic Link you get the option to open in App or Open In Browser.

IMO Universal Link can be a pain at times and if a user accidentally opens in browser it will remember this and can be hard to explain to an end

[2018-01-09 19:53] carlhunterroach commented on #487
Thanks for your advice. I’ll take it and go back to the numeric code process.

[2018-01-09 19:53] #487 closed

[2018-01-09 20:17] cocojoe commented on #483
Well coincidentally I was working on a universal keyboard scroll adjuster as an improvement in another branch that is no long relevant. It is not a priority but I can add it to my list of nice to haves, unless you have some code and want to raise a PR.

[2018-01-11 21:10] carlhunterroach commented on #483
I don’t have a PR but am in no rush for an update so don’t raise its priority on my account.

[2018-01-11 21:10] #483 closed

[2018-01-24 10:02] cocojoe opened #492 "[Discuss] iPad Presentation Configuration"
Open discussion and suggestions for iPad presentation configuration options, currently Lock will display full screen only.

[2018-01-24 19:38] orthoteks commented on #492
Would suggest the following additions to style options:

**Support for .formSheet and perhaps .popover**
`$0.modalPresentationStyle = UIModalPresentationStye`

**To support formSheet and popover, allow definition of content size**
`$0.modalPreferredContentSize = CGSize(...)`

Secondarily, perhaps make LockViewController class 'open' for further customization.

Appreciate the discussion... current

[2018-01-24 20:13] cocojoe commented on #492
Agree that the current iPad presentation is not great, the more I look at this I think it should simply default to formSheet and use a default size of an iPhone 6/7/8. I don't think it needs to be configurable as other presentation styles can crash without additional code support.

I am thinking more along the lines of a simple option such as

[code]

[2018-01-24 20:17] cocojoe commented on #492
![simulator screen shot - ipad 5th generation - 2018-01-24 at 20 15 09](https://user-images.githubusercontent.com/928115/35354921-92897aea-0143-11e8-9ef2-1ee4ba640791.png)
![simulator screen shot - ipad 5th generation - 2018-01-24 at 20 16 27](https://user-images.githubusercontent.com/928115/35354922-94292cce-0143-11e8-831f-c881275cd14e.png)

[2018-01-24 20:18] cocojoe commented on #492
Other considerations are inheritance of this e.g. When using WebAuth should it be a full screen Safari or constrained within the modal.

[2018-01-25 01:13] orthoteks commented on #492
Certainly makes sense to be formSheet by default and sized according to what we are used to seeing in the browser.

One further consideration may be changing the presentation controller implementation. The default for formSheet inserts a dark translucent layer between the modal and underlying content. In order to provide the same Auth0 look and feel (radial gradient background), a custom UIPresent

[2018-01-26 16:30] cocojoe commented on #492
@orthoteks I like the idea but not today, if you want to checkout the PR it has screenshots. Will release a version of Lock.swift on Monday.

[2018-01-29 16:28] #492 closed

[2018-01-30 20:06] escakot commented on #457
Thanks. This should be included in the Lock README.

[2018-01-31 08:48] cocojoe commented on #457
https://github.com/auth0/Lock.swift#important-database-connection-authentication

[2018-01-31 14:44] escakot commented on #457
Yeah, I missed that. Lol.. I was using the guide on the Auth0's [Lock Guide](https://auth0.com/docs/libraries/lock-ios/v2). Shall refer to the Github Documentation in the future!

[2018-02-07 09:37] #470 closed

[2018-02-12 08:31] dhruvgovila opened #495 "Auth0.plist file is Missing"
Hi,
I am trying to understand how to implement Auth0 in my iOS app.
When i downloaded the sourcecode provided. I was not able to find the Auth0.plist file.

Please check the uploaded screen shot in which the editor is not able to reference the Auth0.plist file.
![screen shot 2018-02-12 at 2 00 36 pm](https://user-images.githubusercontent.com/32060213/36088407-2a44a676-0ffd-11e8-9831-d817367a6280.p

[2018-02-15 17:16] cocojoe commented on #495
You have to add this file, I suggest you have a read of https://github.com/auth0/Lock.swift#configuration

[2018-04-04 18:24] josezephyr opened #497 "Cannot switch SSO users"
Steps to reproduce:

Log in with an SSO account (ex: me@mycompany.com)
Wait for token to expire or remove token from local storage
Attempt to log in as another SSO user (ex: friend@mycompany.com)
Automatically logs you into your original SSO account (ex: me@mycompany.com)

Lock version: 2.2
Podfile Code:
        pod 'Lockbox', '~> 2.1.0'
        pod "Lock", '2.2'
        pod "Auth0", '1.5'

Releva

[2018-04-05 09:05] cocojoe commented on #497
When you say log in as another SSO user, what are you doing exactly?

[2018-04-18 16:17] subdigital opened #499 "Fix warnings w/ Xcode 9.3"
There are numerous warnings using the latest released version w/ Xcode 9.3. I really don't want to have to `inibit_warnings: true` on libraries I depend on.

...yes I _could_ send you a PR to fix this, but as a library for a 3rd party service I don't feel it is prudent to ask your users to fix this stuff for you, especially since [this PR](https://github.com/auth0/SimpleKeychain/pull/48) for Simpl

[2018-04-19 08:29] cocojoe commented on #499
A warning is just that, it's not broken.  No one has asked anyone to "fix" anything?  We have a multitude of libraries, with varying priorities. I will take a look at the PR you referenced.  Thanks

[2018-04-19 11:27] cocojoe commented on #499
I had a look in this repo, saw the `weak` warnings. In general, these types of warnings come out in the wash upon next release of the lib. There is another warning from SwiftLint although this appears to be a Swiftlint bug https://github.com/realm/SwiftLint/issues/2019 with the version I'm using.

[2018-04-19 14:03] subdigital commented on #499
I understand the varying priorities.  This isn't a new issue though, these warnings have been present for ~6 months or more.  As for warnings not being "broken" ... they are indicative of a potential issue (maybe down the line) and it's not uncommon for people to treat warnings as errors as a general discipline.

Thanks for looking into this.

[2018-04-19 14:15] cocojoe commented on #499
Compiling this project with master branch in Xcode 9.3 there were only 8 warnings that all related to the use of `weak` in protocol definitions and this was new for Xcode 9.3
Can you show me the other warnings you are having compiling this project please? So I can ensure I'm not missing something here.

There are deprecation warnings for our own Auth0 libs. However, these will not go away until th

[2018-04-19 14:50] subdigital commented on #499
The deprecation warnings in Auth0 are particularly annoying because they are being called by other methods in the same library, and those methods _don't_ have deprecation warnings, so it's not usage from my project that is causing these.

Understand about the Swift version issue. Ideally there'd be a swift 4.1 branch that addresses things like the `flatMap -> compactMap` warning and a couple of ot

[2018-05-22 10:20] #495 closed

[2018-05-22 10:21] cocojoe commented on #499
Hi, I had to address the dependencies below this. So should be nicer in #500.  Deprecations will stay until we look at a new major. Let's see what's announced at WWDC 😄

[2018-05-22 10:22] cocojoe commented on #497
Lack of activity

[2018-05-22 10:22] #497 closed

[2018-05-23 11:22] nicbell opened #501 "Must accept terms"
On the Android and JavaScript Lock libraries there is an option `mustAcceptTerms` but this seems to be missing in the Swift library.

[2018-05-23 11:25] AndreaiOS opened #502 "GDPR iOS"
About GDPR, Android and Javascript, both have mustAcceptTerms, but none on iOS .
How can I set it up on iOS?

[2018-05-23 12:01] cocojoe commented on #502
You are right, this should mirror Lock.Android, I'll take a look just now.

[2018-05-23 12:01] cocojoe commented on #501
Will cover in #502 as I've already answered 😄

[2018-05-23 12:01] #501 closed

[2018-05-23 15:03] cocojoe commented on #502
![simulator screen shot - iphone x - 2018-05-23 at 16 00 09](https://user-images.githubusercontent.com/928115/40432983-da114b7e-5ea2-11e8-8a4f-93e3abd4b537.png)

[2018-06-05 12:09] mariancerny opened #504 "Custom Domain - You should not be hitting this endpoint"
We are using a custom Auth0 domain that is configured in Auth0.plist. However when showing embedded Lock login screen we get this errors:

    DEBUG | ClassicRouter.swift:42 - No connections configured. Loading client info from Auth0...
    INFO | CDNLoaderInteractor.swift:37 - Loading client info from client/{clientId}.js -- https://our.custom.domain
    VERBOSE | CDNLoaderInteractor.swift:68 - R

[2018-06-05 12:14] cocojoe commented on #504
Thanks for reporting, let me look into this and come back to you.

[2018-06-07 12:51] dylanmoo opened #506 "Lock classic's "parameters" are not being sent with database connection login request"
Here is my setup for the Lock widget:

[code]

When I log in with a social connection like google Oauth, I can see the params in my request.
But when I log in with a database connection by typing in email & password, the params are *not* in my request.

I would expect both to contain the same parameters as they are both setup in the same way, but maybe I'm missing something? Is there a reason thes

[2018-06-07 13:00] cocojoe commented on #506
So this was fixed in https://github.com/auth0/Auth0.swift/pull/199, I'll need to release the former and ensure it's propagated into Lock.swift 👍

[2018-06-07 13:57] dylanmoo commented on #506
@cocojoe welcome back from your holiday ;) Thank you for taking a look. Let me know if you need any more details.

[2018-06-07 15:07] #504 closed

[2018-06-08 13:09] cocojoe commented on #502
Merged, will be in next release.

[2018-06-08 13:09] #502 closed

[2018-06-08 13:09] cocojoe commented on #499
Merged, be in next release.

[2018-06-08 13:09] #499 closed

[2018-06-11 08:10] #506 closed

[2018-07-27 03:39] udayakr commented on #428
can this be re-prioritised now ? It is one of the important functionality our customer needs.

[2018-08-05 01:58] caoer opened #510 "can't compile on Xcode Version 10.0 beta 3 (10L201y), Swift 4.2"
lock version is 2.6.0.

[2018-08-05 02:04] caoer commented on #510
tried to tweak swift compiler with version 3, 4, and 4.2. neither works.
got following:

[code]

[2018-08-05 12:51] cocojoe commented on #510
What version of Xcode are you using?

[2018-08-05 12:56] cocojoe commented on #510
Xcode 10 is beta, betas are not officially supported. What version of Cocoapods are you using?

[2018-08-05 23:50] caoer commented on #510
version is 1.5.3

[2018-08-08 13:25] sjoshi804 commented on #457
@cocojoe
Hi, I have been struggling with the documentation so I was hoping you could give me some clarity on how I could enable the password grant

[2018-08-08 13:27] cocojoe commented on #457
Sure, what doesn't work from this section https://github.com/auth0/Lock.swift#important-database-connection-authentication ? Please check that and then create a new issue.

[2018-08-08 13:49] cocojoe commented on #510
I will be looking at Xcode 10 once we get a bit closer to release.

[2018-08-08 16:51] sjoshi804 commented on #457
No it's not really an issue with the code, more with the clarity of the
documentation.
I'm trying to enable password grant for my application and I'm unsure how
to do that.

On Wed, Aug 8, 2018, 6:57 PM Martin Walsh <notifications@github.com> wrote:

--

Regards,
Siddharth Joshi
+1(747)-234-1480

[2018-08-08 17:08] cocojoe commented on #457
So that link I gave you links to the offical grants guide at https://auth0.com/docs/applications/application-grant-types#how-to-edit-the-application-s-grant_types-property

Please take a look at that and in particular tell me what doesn't make sense or needs futher clarification, it shows you how to find the grants section for your application and then it's basically just a checkbox.

[2018-08-09 06:59] sjoshi804 commented on #457
Sorry, I ended up reading the explanation of what a password grant is every
time, rather than seeing how to implement it. Thanks a lot!

On Wed, 8 Aug 2018 at 22:38 Martin Walsh <notifications@github.com> wrote:

--

Regards,
Siddharth Joshi
+1(747)-234-1480

[2018-08-16 13:04] nab0y4enko commented on #510
Hello @cocojoe. We also want to update our application in advance, but this error prevents us.

[2018-08-16 13:05] cocojoe commented on #510
I'll take a look.

[2018-08-20 10:58] cocojoe commented on #510
Thanks, I'm going to report to Apple as this seems like an Xcode bug as Xcode 10 seems unable to see the enumeration error type.  A Segmentation Fault is the compiler bombing out. As the code compiles just fine in Xcode 9 there is no good reason for this type of behaviour.

[2018-08-23 09:17] nab0y4enko commented on #510
@cocojoe Hello! Any updates? Can we help?

[2018-09-10 03:35] sheinix opened #512 "CustomTextField as drop down menu"
Is there any possibility to use a CustomTextField for the customSignupFields where I can set a drop down menu with the options? I need to do a drop down CustomTextField for gender and age.

[2018-09-11 17:54] cocojoe commented on #510
Sorry I was on vacation, so it turns out these are bugs in Swift compiler.

https://github.com/apple/swift/pull/18937
https://github.com/apple/swift/pull/19038

I am hoping these will make it into the next release of Xcode 10, otherwise will need to work around.

[2018-09-12 13:17] luisgizirian commented on #510
Hi :) Is there a time frame for Swift 4.2, IOS 12 and Xcode 10 support for Lock? Their GM is around the corner. I didn't find any in-the-work branches. Thanks!

[2018-09-12 13:59] cocojoe commented on #512
This is not something planned. However, if you want to raise a PR I will look at it.

[2018-09-12 20:44] OrestNazarewycz commented on #510
Looks like they didn't make it into XCode 10 GM. Any workarounds would be very much appreciated.

[2018-09-12 20:53] cocojoe commented on #510
That's disappointing, I'll look at it tomorrow.

[2018-09-13 15:43] cocojoe commented on #510
Moving discussion to https://github.com/auth0/Auth0.swift/issues/220
As the issue is really in the Auth0.swift Dependency.

[2018-09-17 20:20] ppaulojr commented on #510
Now it's released and it does not work too.

[2018-09-17 20:27] cocojoe commented on #510
The PR is here https://github.com/auth0/Lock.swift/pull/515, making it's way through release.

[2018-09-17 20:34] ppaulojr commented on #510
Not sure if it will solve https://github.com/auth0/Lock.swift/pull/515#issuecomment-422160970

[2018-09-19 08:49] adrianortuzar opened #518 "CocoaPods could not find compatible versions for pod "Lock":"
Hello, I am trying to update to version 2.7 through Cocoapods and I am getting this error.
I am not sure if I am doing something wrong, appreciate help.

[code]

[2018-09-19 08:55] cocojoe commented on #518
Ah you caught me during the prod trunk push process, give it 10 mins or so and try again 😄

[2018-09-19 09:03] adrianortuzar commented on #518
I solved doing:
[code]

anyway, thanks @cocojoe

[2018-10-08 04:04] winseyli opened #524 "Status bar color on a light background"
I am using a light color as header background. But the status bar is always with light color hence it is not visible when the lock screen appears.

Please advice. Thank you. :)

P.S. Have tried on both
[code]
and
[code]

<img width="377" alt="screenshot 2018-10-08 at 5 03 04 pm" src="https://user-images.githubusercontent.com/7858565/46592108-211ef580-cb1c-11e8-9482-da8ffdf8ef60.png">

[2018-10-19 14:57] klausbussekw opened #525 "40 Compiler errors for deprecations in Lock 2.8"
- XCode Version 10.0 (10A255)
- Create new project running Swift 4.2
- Pod init
- Include only Lock dependency with  Cocoapods pod 'Lock', '~> 2.8'
- Install Pods, open workspace, and compile

=> 40 deprecation errors:
'UIControlState' has been renamed to 'UIControl.State'
'UIViewNoIntrinsicMetric' has been renamed…
etc.

[2018-10-19 15:38] cocojoe commented on #525
It's not intended to be compiled as 4.2, just change the Lock project to be <=4.1.
What version of `Cocoapods` are you using?

Also see, https://github.com/auth0/Lock.swift/issues/470

[2018-11-05 13:07] AndreaiOS opened #531 "Can we have a pre-fill option as web have?"
### Description

I would like to prefill the email field.

### Prerequisites

I can see it is already available in the web version and I would ask if it's possible to add this also to the mobile version.

[2018-11-07 17:42] scottandrew opened #532 "Custom error text for custom fields withLock classic?"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please user the [Auth0 Com

[2018-11-20 23:12] scottandrew commented on #532
You can't seem to subclass any of the classes they they use (like invalidation error or the presenters).

[2018-11-21 10:07] cocojoe commented on #532
I'll take a look at it this week.

[2018-12-12 13:37] ladislas commented on #525
Thanks @klausbussekw, you saved my day!

This should be in the official documentation.

[2018-12-14 17:55] ladislas commented on #525
@cocojoe yep, it works! Thanks a lot! :) 🎉

[2019-01-07 13:29] Lyankar opened #538 "canOpenURL: failed for URL: "org-appextension-feature-password-management"
I'm getting these two errors when integrate Lock.swift in project
Warning: Attempt to present <Lock.LockViewController: 0x7fa7cd018000> on <Auth0DemoSwift.ViewController: 0x7fa7cc609fe0> whose view is not in the window hierarchy!

2019-01-07 18:41:58.818575+0530 Auth0DemoSwift[10335:1370531] -canOpenURL: failed for URL: "org-appextension-feature-password-management://" - error: "This app is not al

[2019-01-08 09:38] cocojoe commented on #538
You should check out the section in our README regarding 1Password.  https://github.com/auth0/Lock.swift#password-manager

[2019-01-08 09:38] #538 closed

[2019-03-08 09:07] hoang-ei opened #539 "Usage of v2 users search engine"
Usage of api/v2/users instead of v3 in Pods/Auth0/Users.swift. Please update to v3

It gives me warning in admin web saying:

The User Search v2 engine is deprecated, please use v3 (search_engine=v3) instead.

### Environment

Please provide the following:

- Lock version 2.9
- Podfile
- Xcode version 10.1

[2019-03-12 19:46] lbalmaceda commented on #539
Thanks for raising this. Though I can't see this SDK nor the auth0.swift one specifying a value for the `search_engine` parameter. Do you mind sharing a snippet on how you're calling this?

For the time being go ahead and send an extra parameter `search_engine=v3`, that should temporarily resolve this for you.

[2019-03-18 15:04] ketanPRO opened #540 "Logo doesn’t show properly on iOS Auth0 Login page"
### Description

We are using logo image of 108x58 size for logo on iOS auth0 login page. But it doesn’t work properly on all devices. iphone 8 plus & iphone se it gets stretched & doesntt show properly.

- The use case or overall problem you're trying to solve
- Information about when the problem started

### Prerequisites

* [ ] Did you check the documentation? https://auth0.com/docs/libraries/l

[2019-03-18 15:33] cocojoe commented on #134
@rfdearborn please raise a new issue, thanks

[2019-03-19 11:29] cocojoe commented on #540
Please can you include information the information asked for such as version of Xcode etc

Also please provide:

- A code snippet of how you are applying the style changes.
- How the image was configured in your image assets.

I quickly imported the largest image you provided and tried it as a @1x @2x @3x ? I didn't experience your result.

My personal advice here is it's much easier to use a vect

[2019-03-19 14:37] ketanPRO commented on #540
Hi,
we are using xcode 10.1

**Below is code snippet.**
Lock
                .classic()
                .withOptions {
                    $0.closable = true
                    $0.parameters = ["c":strCompanyId]
                    switch initialLoginScreen {
                        case .login: $0.initialScreen = .login
                        case .signup: $0.initialScreen = .signup

[2019-03-19 22:06] cocojoe commented on #540
When you say update versions, please add some context. What changed exactly, what version etc Thanks

I tried your images as @1x, @2x, @3x with iPhone 8 with the following snippet. Xcode 10.1

[code]

![Simulator Screen Shot - iPhone 8 - 2019-03-19 at 22 04 32](https://user-images.githubusercontent.com/928115/54645209-34eb6200-4a93-11e9-87ba-9c07f0066c58.png)

[2019-03-20 15:55] ketanPRO commented on #540
We figured that if we pass title as empty string, it gives issue. There might be some weird case in Auth0 sdk for empty string title.
e.g. $0.title = ""
so, we removed that line currently & it works fine now.

[2019-04-01 15:13] rfdearborn opened #543 "Unhelpful fallback error message on signup with existing username"
### Description

On signup with an already-in-use username, web signup returns "THE USERNAME ALREADY EXISTS." but native iOS lock only shows the fallback "WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN."

### Prerequisites

* [x ] Did you check the documentation? (https://auth0.com/docs/libraries/lock-ios/v2)
* [x ] Did you check the [Auth0 Community](https://community.auth0.com/)?
*

[2019-04-16 13:19] Jackhammer42 commented on #543
same problem here: i want to show a user a specific error message, for example if he tries to log in with an email address, which has not been verified yet. I only get "WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN.", in the log however i see the correct error message.

[2019-04-16 15:25] ketanPRO commented on #540
After removing $0.title = "" it works fine. so closing issue.

[2019-04-16 15:25] #540 closed

[2019-04-16 15:29] ketanPRO opened #544 "Facebook Policy Warning for App"
This is new Facebook brand guidelines requirement from facebook. It's not a bug, so I am not following regular steps.

We have got warning mail from Facebook that we need to update Facebook login button as per their brand guidelines. Below is the mail we received from Facebook. It seems Lock UI for swift & android platform needs to update to accommodate this new change. can you update sdk asap ?

[2019-04-18 12:35] Jackhammer42 commented on #543
Hey, our backend dev found a solution:

Instead of creating an error message with

`return callback('Error message XYZ');`

he now does this

`return callback(new UnauthorizedError('Error message XYZ'));`

Now I get the correct error messages in Lock for iOS.

[2019-04-24 15:55] cocojoe commented on #532
This isn't planned anytime soon.

[2019-04-24 15:55] #532 closed

[2019-04-25 12:35] cocojoe commented on #510
This was resolved

[2019-04-25 12:35] #510 closed

[2019-05-02 08:53] cocojoe commented on #544
Update and released in https://github.com/auth0/Lock.swift/releases/tag/2.10.0

[2019-05-02 08:53] #544 closed

[2019-05-02 08:53] #518 closed

[2019-05-02 08:55] cocojoe commented on #539
Closing, lack of follow up.

[2019-05-02 08:55] #539 closed

[2019-05-02 08:56] cocojoe commented on #531
There are no plans for this.

[2019-05-02 08:56] #531 closed

[2019-05-02 08:57] cocojoe commented on #543
Agree that messaging could be better and consistent with web for this, I'll raise into the backlog.

[2019-05-02 10:06] cocojoe commented on #484
Sorry for the long delay, is this still an issue?

[2019-05-02 10:07] cocojoe commented on #482
Sorry for the long delay, is this still an issue?

[2019-05-02 10:07] #512 closed

[2019-05-02 10:07] cocojoe commented on #524
Sorry for the long delay, is this still an issue?

[2019-05-02 20:50] #524 closed

[2019-06-11 16:02] amatig opened #553 "Passwordless SMS"
Lock (2.10.1)
I am working with safariwebauth, passwordless sms and works.
I tried to migrate to lock but after the sms when I put the pin code in the view I receive an error that my endpoint doesn't allow the passlordless. But this is not true because I use the passowordless with the old auth0 safarywebauth.

[2019-06-17 12:40] cocojoe commented on #553
This is controlled on the server side, if you received an error message that says you don't have access then you should reach out to our excellent support team. It could be a configuration issue etc https://support.auth0.com/

[2019-06-25 19:49] omarzl opened #556 "UI code in wrong thread"
### Description

When the user logs in with username/password the screen gets blocked because internal UI code runs in a wrong thread.

### Prerequisites

* [x] Did you check the documentation?
* [x] Did you check the [Auth0 Community](https://community.auth0.com/)? Yes
* [x] Are you reporting this to the correct repository? Yes
* [x] Are there any related or duplicate Issues or PRs for this issue

[2019-07-01 12:37] cocojoe commented on #556
Lock doesn't know what kind of code you are going to execute in the closure block you define, if you are going to execute UI code then you should ensure you switch to the main thread to perform this. This is what we do in the sample code. https://github.com/auth0-samples/auth0-ios-swift-sample

[2019-07-01 12:37] #556 closed

[2019-07-05 21:06] omarzl commented on #556
Look that is YOUR code that makes UI changes in the wrong thread, not mine.

You call from the main thread:
[code]

And then the login requests responds in another thread and this code is executed:
[code]
This is YOUR UI code in a wrong thread:

`dismiss(from: controller?.presentingViewController, completion: { self.onAuth(credentials) })`

[2019-07-17 09:26] jdevogelaere opened #558 "iOS 13 modalPresentationStyle iPhone"
As from iOS 13 the presentation of ViewControllers will change. Currently it is not possible to change the modalPresentationStyle of the view. Currently we can skip the login page because we add the view as subview of another View.

`       auth0LoginViewController = Auth0LoginViewController(context: context, error: error)
        auth0LoginViewController?.delegate = self
        addChild(auth0Log

[2019-07-17 09:52] cocojoe commented on #558
Can you provide some more information e.g. Sample of code initialising Lock in a new view controller?

[2019-07-17 11:04] jdevogelaere commented on #558
`  override func viewDidLoad() {
        super.viewDidLoad()
        view.backgroundColor = UIColor.clear

        Lock
            .classic()
            .withStyle {
                $0.statusBarStyle = .lightContent
                $0.hideTitle = true
                $0.logo = LazyImage(name: "launch_on_red_header_login")
                $0.primaryColor = UIColor.d8_green()
                $0.ba

[2019-07-17 11:12] cocojoe commented on #558
I don't understand the problem, is this Lock code broken? if so please show the error?

[2019-07-17 11:17] jdevogelaere commented on #558
![image](https://user-images.githubusercontent.com/44635773/61371461-0476d180-a895-11e9-89ed-9594266d8f31.png)

The lock code is not broken but as of iOS 13 the modalPresentationStyle has changed, and now the user can dismiss the lock view because it isn't in fullscreen mode.

[2019-07-17 15:07] jdevogelaere commented on #558
@cocojoe https://gist.github.com/jdevogelaere/b3514237640e108d9dd05d18a0a566b9
Here you can find my code. You need to be able to add a presentationStyle to the lock

Thanks

[2019-07-18 09:48] cocojoe commented on #558
Thanks, will check it out.

[2019-08-08 09:12] cocojoe commented on #558
Fixed.

[2019-08-08 09:12] #558 closed

[2019-08-08 09:13] cocojoe commented on #553
Closing due to lack of activity.

[2019-08-08 09:13] #553 closed

[2019-08-08 09:13] cocojoe commented on #484
Closing due to lack of activity.

[2019-08-08 09:13] #484 closed

[2019-08-08 09:13] cocojoe commented on #482
Closing due to lack of activity.

[2019-08-08 09:13] #482 closed

[2019-08-19 07:21] jdevogelaere opened #563 "Extra argument 'rootattributes' in call since 2.11.0"
Hi, since the latest release I can't build my project no more ... In my source code nothing has changed after updating Lock from 2.10.1 to 2.11.

![image](https://user-images.githubusercontent.com/44635773/63246268-98580680-c262-11e9-8d51-d1a69cc9c964.png)

[2019-08-19 09:15] cocojoe commented on #563
How did you update Lock? 2.11 relies upon Auth0.swift 1.16 https://github.com/auth0/Auth0.swift/releases/tag/1.16.0

I've just noticed the Podspec doesn't actually enforce 1.16...

[2019-08-27 10:59] Jackhammer42 opened #565 "UI API called from background thread"
Hey,

i am facing an issue with the current Lock version for Swift (v.2.11.0) in the iOS13 Beta 8.
When I hit the login button, the app freezes for a few seconds and the proceeds normally.

In Xcode (Version 11.0 beta 5 (11M382q)) I get the following message in the terminal:

[code]

In addition Xcode shows me this:

![2019-08-27_12-55-03](https://user-images.githubusercontent.com/2570783/63765740

[2019-08-27 12:36] cocojoe commented on #565
Not sure why this comes up, the closure is executed further down on the main thread and has never come up as in issue before.  It only appears to happen the first time it's called, on subsequent retries there is no delay.

May be a false positive introduced in this beta. As the checker has been active since Xcode 9

https://developer.apple.com/documentation/code_diagnostics/main_thread_checker

[2019-08-27 12:44] Jackhammer42 commented on #565
yes, same here. forgot to mention that detail.

next steps? wait for the final version of Xcode and check again?

[2019-08-27 15:53] cocojoe commented on #565
I'm going to file a bug report, would suggest doing the same.

[2019-09-09 10:41] sochalewski opened #567 "Customize RuleView.Status.Color"
### Description

I'd like to customize text color of `UILabel` in `RuleView`, but it's impossible, because `RuleView.Status.Color` has constant `color`s for each case. This works well with light background color/image, but with dark the text is black and barely visible.

### Prerequisites

* [x] Did you check the documentation? [1](https://github.com/auth0/Lock.swift/blob/bdcbb07c954d3b7791f5d520b

[2019-09-09 11:44] ingenfakir opened #568 "Deprecation of UIWebView in iOS 13"
https://github.com/auth0/Lock.swift/blob/e3cd82fff62c1c42afbce614bd0cdc300e31e806/Lock/OnePasswordExtension.m#L214

Apple will start denying updates for apps that use UIWebView dependent packages, and the lock component in OnePasswordExtension.m references that component.

Deprecation notice: https://developer.apple.com/documentation/uikit/uiwebview

[2019-09-09 11:45] ingenfakir commented on #568
Already identified in the community forum:
https://community.auth0.com/t/lock-v2-ios-deprecated-api-usage-uiwebview-apis/30563

[2019-09-11 11:53] ingenfakir commented on #568
Any updates on this? Will you remove references of UIWebView to let apps using the Lock to still update?

[2019-09-16 09:01] carlos-martin commented on #568
I opened this thread [1] in the forum and I did not receive any official feedback yet.

I still worry if I'll be blocked by App Store when they launch iOS 13 and I kept working with the Lock v2

[1] https://community.auth0.com/t/lock-v2-ios-deprecated-api-usage-uiwebview-apis/30563

[2019-09-16 12:25] cocojoe commented on #568
Thanks for raising, I feel that the OnePasswordExtension is no longer relevant and should be removed as 1Password support is already baked into iOS 12+

Any objections?

[2019-09-16 17:02] cocojoe commented on #563
Podspec was updated, forgot to link at the time.

[2019-09-16 17:02] #563 closed

[2019-09-18 10:31] cocojoe commented on #565
I had another quick look, it seems that merely obtaining a reference to the presentingViewController flags up the thread checker. Even though the actual action is performed is dispatched in the main thread.

However, the delay/pause seems to have gone in later versions of iOS 13 Beta, at least when I tested.

[2019-09-24 11:39] colin-chan commented on #565
We are also experiencing this problem. We are using XCode 11 GM2, ios 13.0.

[2019-09-26 09:59] #568 closed

[2019-09-30 14:01] carlos-martin opened #575 "Multi language does not work properly"
### Description

The multi language functionality does not work properly. **Accept** or **Cancel** buttons does not translated for terms and conditions

### Reproduction

Once multi languages are enabled and just before the user account is created, at alert view that says: **By signing up, you agree to our terms of service and privacy policy** , the ACCEPT and CANCEL buttons are always in English,

[2019-10-01 22:54] pixeled commented on #565
my app was rejected because of this-
sign-in, then the callbacks to ‘move ahead’ aren’t called.

may be 13.1.2 specific - may be iPad specific.

[2019-10-03 09:18] cocojoe commented on #565
Fix in #576

[2019-10-03 09:20] #565 closed

[2019-10-10 21:26] omarzl commented on #565
could you please create a new tag (maybe 2.13.1) so this change is included?
The tag 2.13.0 was created before this pr get merged 😞

[2019-10-11 09:06] cocojoe commented on #565
Yes, will release on Monday. Thanks

[2019-10-15 10:07] rserentill opened #578 "Checkbox as custom field in signup"
### Describe the problem you'd like to have solved

In order to meet GDPR requirements, we need to let the users give their approval about the app collecting and using their personal data. Right now in the Lock SDK for iOS it is not possible to add a checkbox as a custom field in the signup page. This feature is currently available for the web SDK but not for the iOS SDK.

### Describe the ideal s

[2019-10-15 14:01] cocojoe commented on #578
Do you mean something like https://github.com/auth0/Lock.swift#must-accept-terms-of-service ?

[2019-10-15 15:15] rserentill commented on #578
@cocojoe Thank you for your answer. Yes, this is the solution for the problem as I described it, but we also need another field for the user to give consent for opting in to the newsletter or other marketing campaigns. Sorry, I focused this issue on the GDPR thinking about a generic checkbox, not only for accepting terms. In web there is this `additionalSignUpFields ` which you can specify `checkb

[2019-11-01 20:52] morganlutz opened #581 "Access Login and Sign Up Provider Name"
### Description

How can we retrieve the login and/or sign up provider information? i.e. when a user signs up with facebook, we need to send a sign up analytics event with the value "facebook". I don't see an easy way to do this, but I could be missing something. Thanks in advance!

[2019-11-02 04:33] #543 closed

[2019-11-06 17:27] chrismrideos opened #582 "Enterprise connection error: "invalid connection specified for password grant""
### Description

I’ve gone through the super helpful example [here](https://auth0.com/docs/protocols/saml/samlsso-auth0-to-auth0) for configuring Auth0 to act as both the SAML SP and IdP. The only difference is that I’m using a native application (configured on the SP Auth0 tenant of course).

I’ve configured Lock on iOS to use the enterprise connection alone, but when I attempt to login, I get th

[2019-11-07 23:10] cocojoe commented on #581
Well you have the Sign up event which gives you the email https://github.com/auth0/Lock.swift/blob/e3cd82fff62c1c42afbce614bd0cdc300e31e806/LockTests/Models/ObserverStoreSpec.swift#L51

So you could use this event to trigger a call to your API that could look up the user via API2 and obtain the connection that way.
Another possibility might be to use the ID Token or look up the user profile and lo

[2019-11-07 23:14] cocojoe commented on #582
This doesn't sound like an issue in Lock as the error is returned from the server. You can get more information if you enable debug logging to see the actual server request/response.

[2019-11-08 01:03] chrismrideos commented on #582
Yeah, that's what I figured. I've enabled all logs via:
[code]
and see the following:
[code]

Let me know if I should close this a take the discussion back to my [original forum post](https://community.auth0.com/t/ios-lock-enterprise-connection-error-invalid-connection-specified-for-password-grant/33389/3).

[2019-11-08 17:50] cocojoe commented on #582
You can also add `$0.logHttpRequest = true` to see the network flow.

[2019-11-08 18:03] chrismrideos commented on #582
Ah, good to know. With `logHttpRequest` enabled, I see the following:
[code]

[2019-11-14 20:44] chrismrideos commented on #582
@cocojoe Let me know if you still think this is a backend issue. If so, I'll close this and take the discussion back to the forum

[2019-12-04 09:45] cocojoe commented on #582
@chrismrideos It's not an SDK issue as the request is being sent correctly. However, it appears that for the given connection strategy that a password grant is not compatible.

[2019-12-04 19:01] ejensen opened #588 "Sign-in with Apple app name is "null""
### Description

When using Lock's (web session based) Sign in with Apple method the app name in the authentication sheet is `null`. The app name is available. When using the native [`ASAuthorizationController`](https://developer.apple.com/documentation/authenticationservices/asauthorizationcontroller) the app name is shown correctly.

### Reproduction

Screenshot when using Lock's (web session ba

[2019-12-17 13:54] t0rst opened #589 "EnterpriseDomainInteractor match(domain:) case insensitively"
### Description

User emails are only matched to enterprise domains if exact case, usually all lowercase. Mixed case should not cause this to fail, e.g. where user has capitalised each word concatenated within a domain name (quite common, we find). Consequence for user is that they cannot log in. As far as they are concerned, they are doing nothing wrong because mixed case email addresses work fin

[2020-01-03 15:17] #567 closed

[2020-01-16 21:01] #581 closed

[2020-01-16 21:06] Widcket commented on #582
@chrismrideos closing this one. If this is still an issue, please ping.

[2020-01-16 21:06] #582 closed

[2020-01-21 12:54] Widcket commented on #578
Hi @rserentill is this still an issue? If so, please ping.

[2020-01-21 13:18] rserentill commented on #578
Hello @Widcket, yes, it is. Do you know if there is any plan on adding custom checkbox fields?

[2020-01-23 19:18] #589 closed

[2020-01-23 19:19] Widcket commented on #589
@t0rst fixed, thanks for your clear report.

[2020-01-29 14:12] Widcket commented on #575
@carlos-martin thanks for raising this.

[2020-01-29 14:16] #575 closed

[2020-01-29 21:40] Widcket commented on #588
Hi @ejensen, thanks for the report. We've raised this internally.

[2020-02-04 13:20] Widcket commented on #578
Hey @rserentill we're evaluating this internally. Will update when we reach a decision.

[2020-02-04 14:12] rserentill commented on #578
Thank you @Widcket for the update!

[2020-03-09 21:46] ejensen opened #602 "Crash caused by accessing UI on background thread"
### Description

`BannerMessagePresenter.show(message:flavor:)` is called from a background thread, causing a `Fatal Exception: NSInternalInconsistencyException`

### Reproduction

- Start a sign in that uses WebAuth (ex Facebook, Google)
- Fail to sign in so that the message banner presents an error
- The message banner UI is accessed from a background thread causing a crash

[code]

### Environm

[2020-03-10 17:30] #602 closed

[2020-03-20 22:05] scottandrew opened #605 "Using Lock credentials aren't not being saved on emulator."
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-03-21 00:23] scottandrew commented on #605
Actually this is a problem in 11.4 beta 3 and iOS 11.4 simulator.

[2020-03-25 18:23] Widcket commented on #605
Same issue as https://github.com/auth0/SimpleKeychain/issues/90, please check that thread for updates.

[2020-03-25 18:23] #605 closed

[2020-03-25 19:30] provMattKiazyk opened #607 "iOS: Signup Validation state getting confused"
### Description

When using the Auth0 Classic Lock UI, the validation for signup can get into a state where you are unable to click the sign up button, even though all fields are filled in

### Reproduction

1. Launch app
2. Tap Sign Up switch
3. Enter email and password (don't tap signup)
4. Tap Log In switch to return to log in
5. Tap Sign Up switch to return to Sign Up
6. Re-enter password (not

[2020-03-26 19:06] Widcket commented on #588
Turns out this is an issue on Apple's side. We've filed a bug report, but it's unlikely that we'll hear back. @ejensen you can file one as well, the more people reports this the better. Will reopen if we have an update.

[2020-03-30 03:06] Widcket commented on #607
Hi @provMattKiazyk, I thanks for the report. However, I wasn't able to reproduce it.

![RPReplay_Final1585537232](https://user-images.githubusercontent.com/5055789/77871261-fd70d300-7219-11ea-9d17-2401600fff55.gif)

**Test environment**
- iOS 13.4
- Lock.swift 2.16.1
- Xcode 11.4

Can you please provide a sample app that reproduces this problem?

[2020-03-30 14:43] provMattKiazyk commented on #607
[TestAuth0.zip](https://github.com/auth0/Lock.swift/files/4403518/TestAuth0.zip)

Attached is a zip file of a sample app.
Note: You'll have to fill in your own clientId/Domain

Steps to reproduce
1. Open app, tap the sign-up tab
2. Fill in email
3. Fill in Password
4. Click done on keyboard, or sign up
5. HIT CANCEL
6. Tap on Log in tab
7. Tap back to sign up tab
8. (Note email is filled in here)

[2020-04-01 05:19] Widcket commented on #607
@provMattKiazyk thanks for the sample app, I was able to reproduce.

[2020-04-01 14:01] #607 closed

[2020-04-15 16:24] diamondhnds opened #609 "App rejected due to Sign in with Apple button"
We have added the "Sign in with Apple" social connection but our app was rejected due to the button not matching the HIG.

 Specifically:
"Your app uses Sign in with Apple as a login option but does not use Sign in with Apple button design, branding and/or user interface elements appropriately as described in the Sign in With Apple Human Interface Guidelines."

Screenshot:
![Simulator Screen Shot

[2020-04-16 15:45] diamondhnds commented on #609
Today the Apple reviewer responded and said that it was rejected because the Apple logo and Sign in label were not centered.

In the Sign in with Apple HIG it clearly states that developers can customize the button and specifically outlines creating a left aligned button.

I am appealing the review and will update this issue when it is resolved.

![Screen Shot 2020-04-16 at 9 45 06 AM](https://use

[2020-04-16 18:26] provMattKiazyk commented on #607
@Widcket could we possibly get a minor release out with this fix?

[2020-04-17 14:33] diamondhnds commented on #609
After appealing the rejection and referencing the HIG the app was approved

[2020-04-17 14:33] #609 closed

[2020-04-17 14:37] Widcket commented on #609
@diamondhnds thanks for circling back with the outcome.

[2020-04-22 18:21] Widcket commented on #607
Hi @provMattKiazyk, apologies for the delay. The release [2.17.0](https://github.com/auth0/Lock.swift/releases/tag/2.17.0) is out now.

[2020-05-04 15:59] Widcket commented on #578
Closing, as this was added to our backlog.

[2020-05-04 15:59] #578 closed

[2020-05-14 17:56] DDavis1025 opened #614 "{"error":"access_denied","error_description":"Unauthorized"} Lock/Swift"
When attempting to login I get the error:

on my UI.

And in my console I get the errors:
[code]

[2020-05-14 19:57] DDavis1025 commented on #614
UPDATE: I don't know what I changed but my app started to work

[2020-05-14 19:57] #614 closed

[2020-05-26 12:09] sakthinath opened #616 "Userinfo Api issue"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-05-26 22:51] horsejockey opened #617 "Login/Sign Up Readability and Usability"
### Description

Our customer service often works with users that get confused with the log in/sign up process.  Once they have created an account they will try to log in on the tab that is actually for signing up. The segmented control is not very noticeable and is not easily apparent which tab is selected. If they do try and log in on the sign up page they get an error message at the top of the

[2020-05-26 23:48] Widcket commented on #616
Hi @sakthinath, I was not able to reproduce it using Lock.swift 2.17.0. It may be some network caching issue on your end. Will close the issue, if you have more information please reply.

[2020-05-26 23:48] #616 closed

[2020-06-15 21:29] mattjoers opened #619 "Back & Close Button Behavior"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-06-17 21:10] bryfox opened #621 "Password icon width collapses"
### Description

On the credentials view, the password icon button (which toggles plain text) collapses to a few pixels wide if the password is long.

### Reproduction

1. Build and run the sample LockApp (clientId and domain not needed)
2. Tap **Login only with DB**
3. Type or paste something long into the password field

![password](https://user-images.githubusercontent.com/39674/84950585-225c40

[2020-06-18 08:30] mrarronz commented on #588
Also see this issue on my app when integrate SIWA with react-native-auth0, any update? @Widcket What can we do to resolve this issue?

[2020-06-18 09:17] cocojoe commented on #588
@ejensen I've been updated that it has been fixed and should feature in the next iOS release. I'll update when I know more.

[2020-06-18 09:18] cocojoe commented on #588
@mrarronz if you have a question about another issue in another repo please keep comments to that issue so the context stays in one place. Thank you

[2020-06-18 15:49] Widcket commented on #619
Hi @mattjoers, thanks for raising this. We have reviewed it and decided to not move forward with it.

[2020-06-18 15:49] #619 closed

[2020-06-18 20:03] #621 closed

[2020-06-18 20:04] Widcket commented on #621
@bryfox thanks for raising this!

[2020-06-19 15:33] Widcket commented on #621
This is out now on [2.17.2](https://github.com/auth0/Lock.swift/releases/tag/2.17.2).

[2020-07-06 21:45] Widcket commented on #617
Fixed in https://github.com/auth0/Lock.swift/pull/618.

[2020-07-06 21:45] #617 closed

[2020-07-07 10:35] axtonpitt opened #624 "Support for Mac Catalyst"
### Describe the problem you'd like to have solved

### Describe the ideal solution

[2020-07-09 18:25] cocojoe commented on #588
I had thought this would have been fixed but it turns out this is another nuance of SIWA, I believe what happens is when the WebAuth call is made specifying the apple connection it will hit /authorize and then immediately redirects to the IdP and it's unable to pull out a name from the redirect as there was no page name.

I'll raise this one with Apple and will update when I know more.

[2020-07-10 10:55] matttturnbull commented on #588
Confirming this isn't addressed in iOS14 beta yet.

[2020-07-21 20:23] cocojoe commented on #588
@ejensen @matttturnbull have you tried recently with the latest Beta on a real device? I'm getting mixed reports.

[2020-07-29 16:36] kongesh opened #626 "UserInfo not giving the complete Information about the User."
UserInfo not giving the complete Information about the User.

### Description

- Using UserInfo API I am getting only this data

{\"sub\":\"auth0|5f17d80c0620c40019a5da98\",\"nickname\":\"kongesh+10\",\"name\":\"kongesh+10@gmail.com\",\"picture\":\"https://s.gravatar.com/avatar/7ec51fab3a1c3bbdec63f2182d0861cf?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fko.png\",\"updated_at\":\"2020-07-2

[2020-07-30 00:45] Widcket commented on #626
Hi @kongesh, I see you're using the `openid profile` scope. You need to add the `email` scope as well. Check out [this](https://community.auth0.com/t/how-to-access-user-email-address/7806) Auth0 Community thread for more info.

[2020-07-30 00:45] #626 closed

[2020-07-30 18:35] mattjoers opened #627 "Ability to adjust default input labels for email & password"
**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Community](https://community.auth0.com/) or [Auth0 Support](https://support.auth0.com/). Finally, to avoid duplicates, please search existing Issues before submitting one here.

[2020-08-11 22:26] Widcket commented on #624
Hi @axtonpitt, apologies for the delay. Added to a Catalyst app, the library compiles fine with Xcode version 11.6 (11E708). However there are some warnings that we'll definitely need to address.

<img width="996" alt="Screen Shot 2020-08-11 at 19 23 10" src="https://user-images.githubusercontent.com/5055789/89954958-69bc0400-dc08-11ea-8d2e-b65450ae8d6b.png">

[2020-08-11 22:28] #624 closed

[2020-08-11 22:31] Widcket commented on #627
Hi @mattjoers, we'll discuss this internally and get back to you.

[2020-08-12 17:04] Widcket commented on #627
We added this to our backlog, but we don't have an ETA.

[2020-08-12 17:04] #627 closed

[2020-09-17 02:29] Widcket commented on #588
This is now fixed on iOS 14.

[2020-09-24 09:52] arash01 opened #634 "Back button has small tappable area"
### Describe the problem

### What was the expected behavior?

### Environment

- **Version of `Lock.swift` used:** 2.19.0
- **Version of iOS:** 14
- **Version of Xcode:** 12.0

[2020-10-05 21:21] #634 closed

[2020-10-05 23:43] Widcket commented on #634
Hi @arash01, thanks for bringing this up. It's fixed now on [2.19.1](https://github.com/auth0/Lock.swift/releases/tag/2.19.1).

[2020-10-06 05:19] arash01 opened #638 "Login button is not responsive for Enterprise connections"
### Describe the problem

### What was the expected behavior?

### Environment

- **Version of `Lock.swift` used: 2.19.1**
- **Version of iOS: 14**
- **Version of Xcode: 12**

[2020-10-06 05:32] Widcket commented on #638
Hi @arash01, what does appear in the console when you click the login button if you enable [Logging](https://github.com/auth0/Lock.swift#logging-1)?

[2020-10-06 05:42] arash01 commented on #638
Apparently for some reason it's expecting password:
[code]

[2020-10-06 06:08] arash01 commented on #638
I can confirm it's been broken since version 2.17.1.

[2020-10-06 20:36] Widcket commented on #638
@arash01 does it happen with the sample app the [is in the repo](https://github.com/auth0/Lock.swift/tree/master/App)?

[2020-10-15 06:35] brett-eugenelabs opened #640 "Example App doesn't compile with Cocoapods"
The Example App doesn't compile with Cocoapods because there is no Podfile.

[2020-10-17 21:48] Widcket commented on #640
Hi @brett-eugenelabs, the library uses Carthage to manage its dependencies. Using Xcode 11, you can run `carthage bootstrap --platform iOS` to fetch and build them. Then you can run the app.
Note that Carthage support for Xcode 12 is broken at the moment, both due to [this Carthage issue](https://github.com/Carthage/Carthage/issues/3019) and the fact that this library is using an older version of

[2020-10-18 01:03] brett-eugenelabs commented on #640
You might want to update the README then. Cocoapods is the first step in the installation instructions.

[2020-10-19 17:30] Widcket commented on #640
I may have misunderstood your original issue @brett-eugenelabs. Let me see if I can help. This library can be consumed using Cocoapods as part of your own application integration.

The App in this repo is used as more of a development sandbox and we use Carthage for that. This is why the App itself doesn’t have a Podfile.

If you’re looking for a sample integration, you can checkout or Embedded Lo

[2020-10-23 22:01] spr opened #643 "Swift Package Manager support [SDK-2118]"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/responsible-disclosure-policy) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questio

[2020-10-23 22:03] Widcket commented on #643
Hi @spr, thanks for raising this. I'll be pinning this issue for future reference.

[2020-10-29 22:14] DDavis1025 opened #645 "Is there an option to leave option to agree to privacy policy and not terms of service?"
I see there's an option to not show terms
`
.withOptions {
    $0.showTerms = true
}
`
which hides the terms of service and privacy policy agreement. I'm just trying to hide the terms of service agreement so that it says "By signing up, you agree to the privacy policy". Is that possible?

[2020-11-13 19:43] Widcket commented on #638
Closing due to inactivity.

[2020-11-20 21:46] Widcket commented on #643
Hi all, we now have an implementation up in the `feature/spm-support` branch. Feel free to try it out, any feedback is welcome.

[2020-11-20 22:02] Widcket commented on #645
Hi @DDavis1025, I'm afraid that's not supported ATM.

[2020-11-20 22:05] Widcket commented on #640
Closing due to inactivity.

[2020-11-20 22:05] #640 closed

[2020-12-01 13:24] #643 closed

[2020-12-09 09:19] Widcket commented on #643
This is now out in [2.21.0](https://github.com/auth0/Lock.swift/releases/tag/2.21.0)!

[2020-12-28 15:10] Widcket commented on #645
Closing due to inactivity.

[2020-12-28 15:10] #645 closed

[2021-01-28 13:33] MysticMedia opened #650 "iOS SDK Offline authentication with WiFi"
Hi,

We are using Auth0 iOS Siwft SDK into our app. Our app needs to authenticate user in both situation with and without internet connection. Everything is working fine however we are running into issue at offline authentication when device is connected to WiFi but there is no active internet connection. At that time Auth0 SDK keeps trying to connect to internet with no luck and not switching to

[2021-01-29 02:11] Widcket commented on #650
Hi @MysticMedia, an internet connection is required to log in. Once the user is logged in, you can store the credentials in your app and then on launch use the expiration timestamp to check if they're still valid. If the credentials are still valid, then you don't need to perform login again. This step does not require an internet connection.

Once the credentials expire, you can use the refresh t

[2021-01-29 02:19] MysticMedia commented on #650
Yes, we understand that.  The issue is. Your SDK thinks we have an active
internet connection because we are connected to an SSID. But our SSID is
for an internal network without access to the internet.  So the auth0 SDK
is trying to connect to the internet and validating the credentials. It
works fine, as you mentioned when we have no internet connection AND it is
not connected to an SSID. So wha

[2021-01-29 12:18] MysticMedia commented on #650
Here is some additional info.

After checking token expiry with function "credentialsManager.hasValid()", we are fetching current user's credentials using SDK's function

credentialsManager.credentials { error, credentials in
            guard error == nil, let credentials = credentials else {
                return callback(error)
            }
            self.credentials = credentials

[2021-01-29 18:56] Widcket commented on #650
@MysticMedia can you provide a video of the loop you're talking about? If the SDK can't reach Auth0's servers, then the data task should fail with an error.

Also, the request will only take place if the credentials have expired. What is your use case for wanting expired credentials?

[2021-02-11 19:25] ejensen opened #653 "Memory leaks / retain cycles"
### Describe the problem

Lock's UI leaks memory. The leaks are caused by retain cycles.

![memory-leaks](https://user-images.githubusercontent.com/915431/107687630-94d8ec00-6c5b-11eb-8382-bee6c19242d8.png)

### What was the expected behavior?

Lock does not leak memory

### Reproduction
**Memory is leaked when the Lock UI is dismissed:**
- Run the Lock demo app
- Present the Lock UI
- Dismiss the

[2021-02-11 20:48] Widcket commented on #653
@ejensen Thanks for raising this, I'll be taking a look.

[2021-02-11 21:44] jalleyne commented on #638
@Widcket can you reopen this ticket. We are also experiencing this issue, I am going to submit an enterprise support ticket as well, but this is a big deal to unblock and a pretty serious regression issue for you to disregard due to inactivity on the ticket.

[2021-02-12 10:38] cocojoe commented on #638
@jalleyne Thanks for raising. However, taking a step back, this issue was closed as the ask was can this be reproduced in the sample app, which is also one of the asks in the issue template to ensure we can efficiently reproduce. As often we find if it can't be reproduced in the sample it's often an issue outside of the library.

This is only the second time I have heard of this. However, I'll re-

[2021-02-12 14:45] jalleyne commented on #638
@cocojoe thanks for your response. I definitely understand from a reproducibility perspective, just keep in mind we don't always have time and resources to debug third party libraries.

@laeur can we work with @cocojoe to reproduce?

[2021-02-15 16:49] laeur commented on #638
@jalleyne, @cocojoe hi!
I've made some debugging. And the problem occurs in file DatabasePresenter.swift line 115:
`guard let isValid = view.form?.shouldSubmit(), isValid else { return }`
The form is not correctly validates. Validation starts at file Credentials.swift line 57 and fails in DatabaseInterector.swift line 70 with an error:
`Lock.InputValidationError.mustNotBeEmpty`
Testing was made on

[2021-02-16 02:02] Widcket commented on #638
@laeur I'll look into it.

[2021-02-17 02:31] Widcket commented on #638
@laeur I managed to reproduce it, seems it was a regression introduced in [this PR](https://github.com/auth0/Lock.swift/pull/620/files). Working on it.

[2021-02-18 13:50] #638 closed

[2021-02-23 13:52] jalleyne commented on #638
@Widcket @cocojoe thank you for taking a deeper look into this.

[2021-02-23 16:44] Widcket commented on #650
Closing due to inactivity.

[2021-02-23 16:44] #650 closed

[2021-02-23 21:19] agirault opened #658 "`closable` option has no effect on iPad"
### Describe the problem

On iPad, the `LockViewController` is presented as a `.formSheet`. As such, it can be dismissed by simply tapping outside the bounds of the modal. The `closable` Lock option has no effect since the modal will be dismissed either way.

### What was the expected behavior?

The `LockViewController` should not be dismissed by tapping outside the modal if `closable` is set to `

[2021-02-23 21:26] agirault opened #659 "`onCancel` callback not triggered when dismissing LockViewController on iPad"
### Describe the problem

On iPad, the `LockViewController` is presented as a `.formSheet`. As such, it can be dismissed by simply tapping outside the bounds of the modal. When doing so, the view controller gets dismissed without alerting the application through the `onCancel` callback.

### What was the expected behavior?

The `onCancel` callback should be called when the `LockViewController` is

[2021-02-24 02:40] Widcket commented on #659
Hi @agirault, this is an [iPad OS issue](https://github.com/auth0/Auth0.swift/issues/444). We've already raised a bug report with Apple, if this gets fixed we'll update that issue.

[2021-02-24 02:44] agirault commented on #659
Not really, this is fixable, I have a concept fix in #647

[2021-02-24 03:57] Widcket commented on #659
@agirault my bad, the iPad bug affects `ASWebAuthentication` not `LockViewController `. I've yet to find out why the tests fail on that PR, though.

[2021-02-26 14:33] #653 closed

[2021-03-09 13:26] ameedsayeh commented on #588
any updates ?

[2021-03-10 16:15] Widcket commented on #638
The fix is now out in [v2.22.0](https://github.com/auth0/Lock.swift/releases/tag/2.22.0).

[2021-04-13 23:52] Widcket commented on #658
Fixed by https://github.com/auth0/Lock.swift/pull/647

[2021-04-13 23:53] #658 closed

[2021-04-13 23:53] Widcket commented on #659
Fixed by https://github.com/auth0/Lock.swift/pull/647.

[2021-04-13 23:53] #659 closed

[2021-05-13 21:35] KOConchobhair opened #664 "iOS native swift app + Lock.swift + passwordless + magic link"
### Describe the problem

Trying to use Lock.swift passwordless with magicLink (https://github.com/auth0/Lock.swift#passwordless-method)
Magic link works and redirects to my app but it displays "WE'RE SORRY, SOMETHING WENT WRONG WHEN ATTEMPTING TO LOG IN."

### What was the expected behavior?

After clicking magic link, I expected authentication is successful in my iOS app.

In my case the email g

[2021-05-13 21:52] KOConchobhair commented on #664
Like why is `PasswordlessLinkTransaction` using `CredentialAuth` when it could be using the following like `PasswordlessInteractor.login` does?

`request = authentication.login(email: identifier, code: passcode, ...)`

[2021-05-14 00:14] Widcket commented on #664
Hi @KOConchobhair, have you configured Lock with OIDC Conformant mode set to `true`?

<img width="782" alt="Screen Shot 2021-05-13 at 21 10 45" src="https://user-images.githubusercontent.com/5055789/118202333-11808f80-b430-11eb-8b98-4237680143e5.png">

[2021-05-14 00:19] KOConchobhair commented on #664
Yes

Kyle O’Connor
Lead Software Engineer
***@***.***
+1 (609) 270-3220x701
________________________________
From: Rita Zerrizuela ***@***.***>
Sent: Thursday, May 13, 2021 8:14:27 PM
To: auth0/Lock.swift ***@***.***>
Cc: Kyle O'Connor ***@***.***>; Mention ***@***.***>
Subject: Re: [auth0/Lock.swift] iOS native swift app + Lock.swift + passwordless + magic link (#664)

[EXTERNAL]

Hi @KOConchobha

[2021-05-14 15:14] KOConchobhair commented on #664
Take a look at this code (assuming I'm tracing it thru correctly)

https://github.com/auth0/Lock.swift/blob/a13bb76bd1ef6d16716f19820d82a76e7fe2e9a4/Lock/PasswordlessAuthTransaction.swift#L45

it goes to CredentialAuth which if oidcConformant is true, calls auth0 using the password-realm grant. if false, it uses legacy-ro grant. Neither of which make sense for a magic link with an OTP code...

It

[2021-05-14 17:31] aiyub007 opened #665 "iOS Swift Native Redirection from Mail to the App [Passwordless + Magic link]"
I am trying to set the magic link password less using below code

[code]
In result i got email link `https://domain.auth0.com/ios/bundle_id/email?code=949921`
and when i click in mail  it's not redirecting me to the app but it shows code in safari.

I set allowed url on console and url scheme in app as per instruction.

Please provide solution.

Thanks in advance.

[2021-05-14 17:43] Widcket commented on #665
Hi @aiyub007,
You need to configure and use Universal Links for the link to open in your app: https://auth0.com/docs/applications/enable-universal-links-support-in-apple-xcode

[2021-05-14 17:57] aiyub007 commented on #665
I configured everything as displayed there

When i run YOUR_DOMAIN/apple-app-site-association

it gives me  : :

{"applinks":{"apps":[],"details":[{"appID":"TEAMID.bundle_id","paths":["/ios/bundle_id/*"]}]}}

[2021-05-14 18:38] Widcket commented on #665
@aiyub007 did you configure Universal Links in Xcode? That is, the Associated Domains entitlement with the `applinks:YOUR_AUTH0_DOMAIN.auth0.com` value.

[2021-05-14 19:02] Widcket commented on #664
@KOConchobhair indeed, it should be using the passwordless OTP grant. It is probably like this for legacy reasons. Will dig into this.

<img width="731" alt="Screen Shot 2021-05-14 at 15 55 22" src="https://user-images.githubusercontent.com/5055789/118316140-d2ece280-b4cc-11eb-8977-2ae5fd88a27d.png">

[2021-05-14 19:12] Widcket commented on #665
Related: https://github.com/auth0/Lock.swift/issues/664 (after the app successfully opens from the magic link, the exchange will fail because it is using a legacy grant).

[2021-05-14 19:21] aiyub007 commented on #665
Thanks @Widcket

applinks:YOUR_AUTH0_DOMAIN.auth0.com
This suggestion works

When i come back to the app i doesn't verify me do i have to call the auth.login(code : ) from the link received ?
or it should verify me directly  ?

Can you please guide ?

[2021-05-14 19:22] Widcket commented on #665
See the linked issue above, we need to update the logic for magic links because it is still using a legacy grant.

[2021-05-14 19:24] aiyub007 commented on #665
That means you are working on it and We need to wait for the next update right?

[2021-05-14 19:26] Widcket commented on #665
Yes, I expect to have it updated and released at most by the end of next
week.

On Fri, 14 May 2021 at 16:24 Aiyub ***@***.***> wrote:

[2021-05-14 19:28] aiyub007 commented on #665
Waiting for that Thanks for the guidance

[2021-05-18 06:29] hoang-ei opened #666 "Callback for onForgotPassword"
I would like to ask why there is no callback for onForgotPassword similar to like onSignUp?
I want to execute API call after user finished with forgot password.

Thank you in advance

[2021-05-19 20:55] Widcket commented on #665
The PR is up: https://github.com/auth0/Lock.swift/pull/667
Please try it out.

[2021-05-20 09:48] #664 closed

[2021-05-20 13:45] Widcket commented on #664
This is out now in [v2.22.2](https://github.com/auth0/Lock.swift/releases/tag/2.22.2).

[2021-05-20 13:46] Widcket commented on #665
@aiyub007 @jayanth1991 This is out now on [v2.22.2](https://github.com/auth0/Lock.swift/releases/tag/2.22.2).

[2021-05-20 13:46] #665 closed

[2021-05-20 15:55] aiyub007 commented on #665
Hi @Widcket  it's the same as before

on tapping Mail it is coming back to the app with url  `https://server.auth0.com/ios/app_bundle/email?code=212806`

It is not coming to
[code]

nor
[code]

It should work directly auth completion. > Lock.resumeAuth right
or,
Do I have to call  the auth.login(code : )
code > recieved from the emaillink ?

If so then there is no changes from the previous version

[2021-05-20 16:00] Widcket commented on #665
@aiyub007 is your app using SceneDelegate?

[2021-05-20 18:53] aiyub007 commented on #665
yes

[2021-05-20 23:20] Widcket commented on #665
You need to use the relevant methods of SceneDelegate instead of AppDelegate: https://developer.apple.com/documentation/xcode/supporting-universal-links-in-your-app.

[2021-05-26 18:49] aiyub007 opened #669 "Password less -Add the button to redirect to the Mail App"
Can We customize the screen Where the link sent. so that we can add a button that guide user to send to the mail App.

In the screen after code sent to the user , there is written like 'we sent you a link to sign in to xxx@xx.com' and user needs to open the Mail App which is default App.

If We can add a button that help user to redirect to the mail app that would be great 'Go to Mail App'

If the

[2021-05-28 18:01] aiyub007 opened #670 "Magic Link + code facility"
Please provide the

'I have code' facility with Magic link like android Lock in ios Too.

Apple rejecting the app because of that. When they didnt find the code enter facility and tried to open mail from the different phone.

Please provide the solution app is rejected by apple .

[2021-05-28 18:38] Widcket commented on #670
Hi @aiyub007, can you please expand in more detail. What is exactly you're requesting? Why?

[2021-05-29 13:05] aiyub007 commented on #670
Hi @Widcket

Apple rejected App because the reviewer sent magic link to the email that was  not on the same device.
Now, they have the code to login as the link redirected them to safari.

But, in the Lock ios , we dont have any option to enter code like the android.

In android , we have option button 'I have code' when user tap on that it opens textfield to enter the code he received in mail wit

[2021-06-01 02:49] Widcket commented on #669
Hi @aiyub007, I'm afraid it's not possible to customize the screen to add a button with a deeplink to another app, and we don't have plans to add it.

[2021-06-01 02:49] #669 closed

[2021-06-01 02:55] Widcket commented on #666
Hi @hoang-ei, thanks for raising this and apologies for the delay. Internally the callback exists (see https://github.com/auth0/Lock.swift/blob/master/Lock/ObserverStore.swift#L32) but does not seem to be exposed in the public API. I'll try to dig up some context on why that choice was made, to see if it can be exposed.

[2021-06-01 14:24] Widcket commented on #670
@aiyub007 I just checked and indeed the Android Lock has that button while the iOS one doesn't. This is something we want to tackle, though I have no ETA.

[2021-07-19 16:55] #666 closed

[2021-10-05 14:35] #670 closed

[2021-11-18 12:09] mmuelder opened #688 "Generic error message when using api.access.deny in login action"
### Describe the problem

Greetings!

When returning an error message via a Login-Action, we get a generic error message, instead of the one returned in the action.
![0d1266cd39cb46018c43622d2b8c3c5c3a2836c4](https://user-images.githubusercontent.com/5302657/142410561-f315c8fa-8f9b-44ff-8ab4-c7ac22f9dc8f.jpeg)

### What was the expected behavior?
Display of the custom error message returned in the

[2021-11-19 21:06] seemeroland opened #689 "Fail to compile using carthage 0.38 and Xcode 13.1"
### Describe the problem

Lock.swift fails to import Auth0 when trying to install dependencies using Carthage with `carthage bootstrap --use-xcframeworks --platform iOS`

### What was the expected behavior?

Expect carthage to successfully build dependencies using `carthage bootstrap --use-xcframeworks --platform iOS`

### Reproduction

Cartfile:
[code]

Cartfile.resolved:
[code]

Using carthage 0

[2021-11-23 22:59] dingtianran opened #691 "Is there anyway to disable "sign up" feature?"
Hi there,

By default there are two tabs on the UI: "sign in" and "sign up". I was wondering is there anyway I can disable/hide the "sign up" part and keep "sign in"?

Something like:
`.withOptions {
  $0.allowSignup = false
}`

Regards,
TD

[2021-11-29 14:50] #689 closed

[2021-11-29 14:56] Widcket commented on #691
Hi @dingtianran, you can use the `allow` option to do so. Check out https://github.com/auth0/Lock.swift/blob/master/README.md#database for more details.

[2021-11-29 14:56] #691 closed

[2021-11-30 14:50] Widcket commented on #689
Hi @seemeroland, the fix is now out in [2.24.1](https://github.com/auth0/Lock.swift/releases/tag/2.24.1).

[2021-11-30 14:50] Widcket commented on #689
Thanks for the report!

[2021-12-11 19:27] Widcket commented on #688
Hi @mmuelder, thanks for raising this.

The current major of Lock.Android (v3) does not display the Action error message in the UI, returning it instead via a callback for the developer to handle:

https://user-images.githubusercontent.com/5055789/145688676-8cb94fc0-a687-4d2f-8e8d-79a09ece0e31.mov

The previous major of Lock.Android (v2) displays in the UI a generic error message, not the Action e

[2021-12-11 19:27] #688 closed

[2021-12-13 07:06] mmuelder commented on #688
Thats true, we read it from the callback and display it to the user.
My question is, is this possible for iOS? How can we access "our custom error message" in the iOS SDK to display it to the user?

[2021-12-14 00:32] Widcket commented on #688
@mmuelder the current major of Lock.swift does not expose the error message to the developer. And adding that would be a behavior breaking change. So you could fork Lock.swift and incorporate the changes from https://github.com/auth0/Lock.swift/pull/693.
We cannot match the behavior of the current major of Lock.Android without a new major of Lock.swift.

[2021-12-14 11:51] mmuelder commented on #688
@Widcket so in other words: If we return a custom error message from an action, there is no way to display this message to the user with the current version of Lock.swift?
That sounds a bit strange, since Auth0 recommends swichting from rules to actions. And rules offer this possibility which is necessary for many use cases. This would mean that we cannot switch from our rule to an action even if

[2022-03-23 13:03] mbuchetics opened #695 "New version with Auth0 2.0 dependency"
Auth0 2.0 was recently released (https://github.com/auth0/Auth0.swift/releases/tag/2.0.0), so it would be great to get an update of Lock which depends on the version as well.

[2022-04-14 01:58] #695 closed

[2022-05-18 09:49] AXGithub opened #697 "New version with Auth0 2.0 dependency"
The AuthProvider file cannot be found in auth0 2.0, causing an error
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/12763999/169011137-018365d2-4c74-4df4-bb75-7251f9268c99.png">
@Widcket

[2022-05-19 20:06] Widcket commented on #697
Hi @AXGithub, I believe https://github.com/auth0/Lock.swift/issues/695#issuecomment-1095242197 answers your inquiry.

[2022-05-19 20:06] #697 closed

[2022-09-23 10:58] chandratothenew opened #705 "Needs some enhancement with the textfield"
Hi,
**In our application we have implemented auth0 for phone no login we want to achieve below functionality:**

**1.**    When user come to the login screen, The default country code is shown as Inactive, can we make it Bold or with Dark black colour, so user can directly enter the phone no. (User assumes to select it before entering the phone number)

**2.**    We want that when user enters 10 d

[2022-10-13 03:21] Widcket commented on #705
Hi @chandratothenew, thanks for raising this and apologies for the delay.

I'm afraid we're no longer adding new features to this SDK. I'd suggest forking this library and customizing it for your needs.

[2022-10-13 03:21] #705 closed

[2022-10-18 16:27] check4ismail opened #707 "Updating Auth0 Dependency to v2.0"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/responsible-disclosure-policy) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questio